<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2 class="{{ IconFor `admin` }}">
        {{ i18n "Manage users" }} ({{ len .users }})
      </h2>
      <div class="inner-form">
        <table>
          <thead>
            <tr>
              <th>{{ i18n "Username" }}</th>
              <th>{{ i18n "Name" }}</th>
              <th>{{ i18n "Active" }}</th>
              <th>{{ i18n "Admin" }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{ range .users }}
            <tr>
              <th>
                <a href="{{ RouteFor `user-show` .ID }}"
                  >{{ .Username | html }}</a
                >
              </th>
              <td>{{ .Name | html }}</td>
              <td>{{ .Active | BoolToHTML }}</td>
              <td>{{ .Admin | BoolToHTML }}</td>
              <td>
                <span class="actions"> {{ template "user_actions" . }} </span>
              </td>
            </tr>

            {{ end }}
          </tbody>
        </table>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
