<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .equipment }}
      <div class="gap-4">
        {{ if eq .User.ID CurrentUser.ID }}
        <span class="float-right actions">
          {{ template "equipment_actions" . }}
        </span>
        {{ end }}

        <h2>{{ i18n "Equipment" }}: {{ .Name }}</h2>
      </div>
      <div class="lg:flex lg:flex-wrap">
        <div class="basis-1/2">
          <div class="inner-form">
            <h3 class="grow justify-start">
              {{ IconFor `totals` }} {{ i18n "Totals" }}
            </h3>
            {{ with .GetTotals }}
            <table>
              <tbody>
                <tr>
                  <td>{{ IconFor `distance` }}</td>
                  <th>{{ i18n "Total distance" }}</th>
                  <td>
                    {{ .Distance | HumanDistance }} {{
                    CurrentUser.PreferredUnits.Distance }}
                  </td>
                </tr>
                <tr>
                  <td>{{ IconFor `duration` }}</td>
                  <th>{{ i18n "Total duration" }}</th>
                  <td>{{ .Duration | HumanDuration }}</td>
                </tr>
                <tr>
                  <td>{{ IconFor `repetitions` }}</td>
                  <th>{{ i18n "Total repetitions" }}</th>
                  <td>{{ .Repetitions }}</td>
                </tr>
              </tbody>
            </table>
            {{ end }}
          </div>
          <div class="inner-form">
            <table>
              <tbody>
                <tr>
                  <td>{{ IconFor `date` }}</td>
                  <th>{{ i18n "Created" }}</th>
                  <td>{{ template "snippet_date" .CreatedAt }}</td>
                </tr>
                <tr>
                  <td>{{ IconFor `note` }}</td>
                  <th>{{ i18n "Description" }}</th>
                  <td>{{ .Description }}</td>
                </tr>
                <tr>
                  <td>{{ IconFor `check` }}</td>
                  <th>{{ i18n "Active" }}</th>
                  <td>{{ .Active | BoolToHTML }}</td>
                </tr>
                <tr>
                  <td>{{ IconFor `workout` }}</td>
                  <th>{{ i18n "Default workout types" }}</th>
                  <td>
                    <div class="flex flex-wrap">
                      {{ range .DefaultFor }}
                      <span class="user-pill">{{ .String }}</span>
                      {{ end }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="basis-1/2">
          <div class="inner-form">
            <h3 class="grow justify-start">
              {{ IconFor `workout` }} {{ i18n "Workouts" }}
            </h3>
            <table class="workout-info">
              <thead>
                <tr>
                  <th></th>
                  <th>{{ i18n "Name" }}</th>
                  <th class="hidden sm:table-cell">{{ i18n "Date" }}</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Workouts }}
                <tr>
                  <td class="text-center">
                    <div title="{{ i18n .Type.String }}">
                      {{ IconFor .Type.String }}
                    </div>
                  </td>
                  <td>
                    <a href="{{ RouteFor `workout-show` .ID }}">{{ .Name }}</a>
                  </td>
                  <td class="hidden sm:table-cell">
                    {{ template "snippet_date" .Date }}
                  </td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
