{{ define "equipment_actions" }}
<form action="{{ RouteFor `equipment-edit` .ID }}" method="get">
  <button class="edit" title="{{ i18n `edit` }}">
    <a>{{ IconFor `edit` }}</a>
  </button>
</form>
<form onsubmit="return false">
  <button
    onclick="openModal('modalConfirmDelete_{{ .ID }}')"
    class="dangerous"
    title="{{ i18n `delete` }}"
  >
    <a>{{ IconFor `delete` }}</a>
  </button>
</form>

<div id="modalConfirmDelete_{{ .ID }}" class="modal">
  <div class="window">
    <div class="flex justify-end p-2">
      <button
        onclick="closeModal('modalConfirmDelete_{{ .ID }}')"
        type="button"
        class="close-modal"
      >
        <a>{{ IconFor `close` }}</a>
      </button>
    </div>

    <div class="modal-content">
      {{ $w := i18n "equipment" }}
      <h3>{{ i18n "Are you sure you want to delete this %s?" $w }}</h3>
      <div class="flex">
        <form method="post" action="{{ RouteFor `equipment-delete` .ID }}">
          <button class="confirm">{{ i18n "Continue" }}</button>
        </form>
        <form onsubmit="return false">
          <button
            onclick="closeModal('modalConfirmDelete_{{ .ID }}')"
            class="cancel"
          >
            {{ i18n "Cancel" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
