{{ define "header" }}
<div class="menu flex flex-wrap gap-4">
  <h1>
    <a href="{{ RouteFor `dashboard` }}">Workout Tracker</a>
  </h1>
  <div class="grow flex flex-wrap -mt-5 -mr-5">
    {{ if .currentUser }}
    <a class="{{ IconFor `dashboard` }}" href="{{ RouteFor `dashboard` }}"
      >Dashboard</a
    >
    <a class="{{ IconFor `statistics` }}" href="{{ RouteFor `statistics` }}"
      >Statistics</a
    >
    <a class="{{ IconFor `workout` }}" href="{{ RouteFor `workouts` }}"
      >Workouts</a
    >
    <a class="{{ IconFor `workout-add` }}" href="{{ RouteFor `workout-add` }}"
      >Add workout</a
    >
    {{ end }}
  </div>
  <div class="flex-wrap -mt-5 -mr-5">
    {{ with .currentUser }}
    <a class="{{ IconFor `user-profile` }}" href="{{ RouteFor `user-profile`}}"
      >{{ .Name | html }}</a
    >
    {{ if .Admin }}
    <a class="{{ IconFor `admin` }}" href="{{ RouteFor `admin` }}">Manage</a>
    {{ end }}
    <a class="{{ IconFor `user-signout` }}" href="{{ RouteFor `user-signout` }}"
      >Logout</a
    >
    {{ end }}
  </div>
</div>
{{ template "alerts" . }} {{ end }}
