<pre>
{{ i18n "Profile updated" }}
{{ i18n "Encountered %d problems while adding workouts: %s" (len .Errors) .Errors }}
{{ i18n "Your account has been created, but needs to be activated." }}
{{ i18n "All workouts will be refreshed in the coming minutes." }}
{{ i18n "The workout '%s' has been deleted." .Name }}
{{ i18n "The workout '%s' has been refreshed." .Name }}
{{ i18n "The workout '%s' has been updated." .Name }}
{{ i18n "The user '%s' has been updated." .Name }}
{{ i18n "The user '%s' has been deleted." .Name }}
{{ i18n "Added %d new workout(s): %s" (len .msg) .msg }}
{{ i18n "running" }}
{{ i18n "cycling" }}
</pre>
