{{ define "stats_record_distance_date" }}
<span class="hidden 2xl:inline" title="{{ .Date | LocalDate }}">
  <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
  ({{ .Date | RelativeDate }})
</span>
<span class="hidden xl:inline 2xl:hidden" title="{{ .Date | LocalDate }}">
  <a href="{{ RouteFor `workout-show` .ID }}"
    >{{ .Date.Format "2006-01-02 15:04" }}</a
  >
</span>
<span class="xl:hidden" title="{{ .Date | LocalDate }}">
  <a href="{{ RouteFor `workout-show` .ID }}"
    >{{ .Date.Format "2006-01-02" }}</a
  >
</span>
{{ end }} {{ define "stats_records_distance" }} {{ if .Active }}
<h3>
  <span class="{{ IconFor .WorkoutType.String }}"></span>
  {{ i18n "%s records" .WorkoutType.String }}
</h3>
<table class="workout-info table-auto">
  <tbody>
    {{ with .AverageSpeed }}
    <tr>
      <th>
        <span class="{{ IconFor `speed` }}">{{ i18n "Average speed" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanSpeed }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .AverageSpeedNoPause }}
    <tr>
      <th>
        <span class="{{ IconFor `speed` }}"
          >{{ i18n "Average speed (no pause)" }}</span
        >
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanSpeed }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .MaxSpeed }}
    <tr>
      <th>
        <span class="{{ IconFor `max-speed` }}">{{ i18n "Max speed" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanSpeed }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .Distance }}
    <tr>
      <th>
        <span class="{{ IconFor `distance` }}"
          >{{ i18n "Total distance" }}</span
        >
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanDistance }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .TotalUp }}
    <tr>
      <th>
        <span class="{{ IconFor `up` }}">{{ i18n "Total up" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanDistance }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .Duration }}
    <tr>
      <th>
        <span class="{{ IconFor `duration` }}"
          >{{ i18n "Total duration" }}</span
        >
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanDuration }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }} {{ end }}
