{{ define "stats_records_running" }} {{ if .Active }}
<h3>
  <span
    class="icon-baseline icon-space-sm icon-before icon-{{ `running` | FAIconClass }} icon-{{ `running` | FAIconName }}"
  ></span>
  Running records
</h3>
<table class="workout-info table-auto">
  <tbody>
    {{ with .AverageSpeed }}
    <tr>
      <th>
        <span
          class="icon-solid icon-baseline icon-space-sm icon-before icon-gauge"
        >
          Average speed</span
        >
      </th>
      <td>{{ .Value | HumanSpeed }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}"> {{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .MaxSpeed }}
    <tr>
      <th>
        <span
          class="icon-solid icon-baseline icon-space-sm icon-before icon-gauge-high"
          >Max speed</span
        >
      </th>
      <td>{{ .Value | HumanSpeed }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .Distance }}
    <tr>
      <th>
        <span
          class="icon-solid icon-baseline icon-space-sm icon-before icon-road"
          >Total distance</span
        >
      </th>
      <td>{{ .Value | HumanDistance }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .TotalUp }}
    <tr>
      <th>
        <span
          class="icon-solid icon-baseline icon-space-sm icon-before icon-mountain"
          >Total up</span
        >
      </th>
      <td>{{ .Value | HumanDistance }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .Duration }}
    <tr>
      <th>
        <span
          class="icon-solid icon-baseline icon-space-sm icon-before icon-clock"
        >
          Total duration</span
        >
      </th>
      <td>{{ .Value }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }} {{ end }}
