{{ define "stats_records_total" }} {{ with .GetDefaultTotals }}
<div class="md:flex md:flex-wrap">
  {{ $di := i18n "distance" }} {{ $w := i18n (print .WorkoutType.String " "
  "workouts") }} {{ $u := i18n "up" }} {{ $du := i18n "duration" }} {{ template
  "statistic_tile" (BuildDecoratedAttribute .WorkoutType.String $w .Workouts "")
  }} {{ template "statistic_tile" (BuildDecoratedAttribute "distance" $di
  (.Distance | HumanDistance ) CurrentUser.PreferredUnits.Distance) }} {{
  template "statistic_tile" (BuildDecoratedAttribute "up" $u (.Up |
  HumanElevation) CurrentUser.PreferredUnits.Elevation) }} {{ template
  "statistic_tile" (BuildDecoratedAttribute "duration" $du (.Duration |
  HumanDuration) "") }}
</div>
{{ end }} {{ end }}
