{{ define "stats_record_distance_date" }}
<span class="hidden xl:inline">
  <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
  <span class="hidden 2xl:inline"> ({{ .Date | RelativeDate }}) </span>
</span>
<span class="xl:hidden" title="{{ .Date | LocalDate }}">
  <a href="{{ RouteFor `workout-show` .ID }}"
    >{{ .Date.Format "2006-01-02" }}</a
  >
</span>
{{ end }} {{ define "stats_records_distance" }}
<h3>
  {{ IconFor .WorkoutType.String }} {{ i18n "Records for %s" (i18n
  .WorkoutType.String) }}
</h3>
<table class="workout-info table-auto">
  <tbody>
    <tr>
      <th>
        <span>{{ IconFor `speed` }}{{ i18n "Average speed" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">
        {{ .WorkoutType.PreferredSpeedMetric .AverageSpeed.Value
        CurrentUser.PreferredUnits }}
      </td>
      <td>{{ template "stats_record_distance_date" .AverageSpeed }}</td>
    </tr>
    <tr>
      <th>
        <span>{{ IconFor `speed` }}{{ i18n "Average speed (no pause)" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">
        {{ .WorkoutType.PreferredSpeedMetric .AverageSpeedNoPause.Value
        CurrentUser.PreferredUnits }}
      </td>
      <td>{{ template "stats_record_distance_date" .AverageSpeedNoPause }}</td>
    </tr>
    <tr>
      <th>
        <span>{{ IconFor `max-speed` }}{{ i18n "Max speed" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">
        {{ .WorkoutType.PreferredSpeedMetric .MaxSpeed.Value
        CurrentUser.PreferredUnits }}
      </td>
      <td>{{ template "stats_record_distance_date" .MaxSpeed }}</td>
    </tr>
    {{ with .Distance }}
    <tr>
      <th>
        <span>{{ IconFor `distance` }}{{ i18n "Total distance" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">
        {{ .Value | HumanDistance }} {{ CurrentUser.PreferredUnits.Distance }}
      </td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .TotalUp }}
    <tr>
      <th>
        <span>{{ IconFor `up` }}{{ i18n "Total up" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">
        {{ .Value | HumanElevation }} {{ CurrentUser.PreferredUnits.Elevation }}
      </td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }} {{ with .Duration }}
    <tr>
      <th>
        <span>{{ IconFor `duration` }}{{ i18n "Total duration" }}</span>
      </th>
      <td class="font-mono whitespace-nowrap">{{ .Value | HumanDuration }}</td>
      <td>{{ template "stats_record_distance_date" . }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
