{{ define "stats_records_running" }} {{ if .Active }}
<h3>
  <span class="{{ IconFor `running` }}"></span>
  Running records
</h3>
<table class="workout-info table-auto">
  <tbody>
    {{ with .AverageSpeed }}
    <tr>
      <th>
        <span class="{{ IconFor `speed` }}">Average speed</span>
      </th>
      <td class="font-mono">{{ .Value | HumanSpeed }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}"> {{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .AverageSpeedNoPause }}
    <tr>
      <th>
        <span class="{{ IconFor `speed` }}">Average speed (no pause)</span>
      </th>
      <td class="font-mono">{{ .Value | HumanSpeed }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}"> {{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .MaxSpeed }}
    <tr>
      <th>
        <span class="{{ IconFor `max-speed` }}">Max speed</span>
      </th>
      <td class="font-mono">{{ .Value | HumanSpeed }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .Distance }}
    <tr>
      <th>
        <span class="{{ IconFor `distance` }}">Total distance</span>
      </th>
      <td class="font-mono">{{ .Value | HumanDistance }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .TotalUp }}
    <tr>
      <th>
        <span class="{{ IconFor `up` }}">Total up</span>
      </th>
      <td class="font-mono">{{ .Value | HumanDistance }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }} {{ with .Duration }}
    <tr>
      <th>
        <span class="{{ IconFor `duration` }}">Total duration</span>
      </th>
      <td class="font-mono">{{ .Value | HumanDuration }}</td>
      <td>
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Date | LocalDate }}</a>
        ({{ .Date | RelativeDate }})
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }} {{ end }}
