{{ define "statistic_tile" }}
<div class="md:basis-1/2 lg:basis-1/4">
  <div class="inner-form">
    <div class="grid grid-cols-3">
      <div class="text-3xl md:text-5xl text-center">{{ IconFor .Icon }}</div>
      <div class="col-span-2 grid grid-cols-1">
        <div
          class="text-xl md:text-3xl text-right font-mono md:h-8 overflow-hidden"
        >
          {{ .Value }} {{ .Unit }}
        </div>
        <div class="text-neutral-600 dark:text-neutral-400 text-sm text-right">
          {{ .Name }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
