{{ define "user_profile_calendar" }}
<div class="inner-form min-h-[450px]" id="calendar"></div>
<script src="{{ RouteFor `assets` }}/dist/fullcalendar.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone,
      initialView: "dayGridMonth",
      locale: Intl.DateTimeFormat().resolvedOptions().locale,
      firstDay: 1,
      aspectRatio: 2,
      eventContent: function(arg) {
        let eventSpan = document.createElement("div")

        eventSpan.innerHTML = arg.event.title
        eventSpan.classList.add(
          "px-2", "overflow-hidden",
        )

        return { domNodes: [ eventSpan ] }
      },
      events: [
        {{ range .workouts }}
        {
          title: "{{ IconFor .Type.String }}{{ .Distance | HumanDistance }} {{ CurrentUser.PreferredUnits.Distance }}",
          start: "{{ .Date | LocalDate }}",
          url: "/workouts/{{ .ID }}",
          display: "block",
        },
        {{ end }}
      ],
    });
    calendar.render();
  });
</script>
{{ end }}
