{{ define "user_profile_language" }} {{ $userLanguage := . }}
<select id="language" name="language">
  <option value="browser" {{ SelectIf $userLanguage `browser` }}>
    🌐 Browser language
  </option>
  {{ range supportedLanguages }} {{ $linf := .String | ToLanguageInformation }}
  <option value="{{ $linf.Code }}" {{ SelectIf $linf.Code $userLanguage }}>
    {{ $linf.Flag }} {{ $linf.LocalName }} {{ if ne $linf.EnglishName "" }} {{
    if ne $linf.EnglishName $linf.LocalName }} ({{ $linf.EnglishName }}){{ end
    }} {{ end }}
  </option>
  {{ end }}
</select>
{{ end }}
