{{ define "user_profile_preferred_units" }} {{ with
CurrentUser.Profile.PreferredUnits }}
<form
  method="post"
  action="{{ RouteFor `user-profile-preferred-units-update` }}"
>
  <table class="table-fixed">
    <tbody>
      <tr>
        <th>
          <label for="speed">{{ i18n "Speed" }}</label>
        </th>
        <td>
          <select id="speed" name="speed">
            <option value="kph" {{ SelectIf .Speed `kph` }}>
              {{ i18n "kilometers per hour" }}
            </option>
            <option value="mph" {{ SelectIf .Speed `mph` }}>
              {{ i18n "miles per hour" }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="distance">{{ i18n "Distance" }}</label>
        </th>
        <td>
          <select id="distance" name="distance">
            <option value="km" {{ SelectIf .Distance `km` }}>
              {{ i18n "kilometers" }}
            </option>
            <option value="mi" {{ SelectIf .Distance `mi` }}>
              {{ i18n "miles" }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="elevation">{{ i18n "Elevation" }}</label>
        </th>
        <td>
          <select id="elevation" name="elevation">
            <option value="m" {{ SelectIf .Elevation `m` }}>
              {{ i18n "meters" }}
            </option>
            <option value="ft" {{ SelectIf .Elevation `ft` }}>
              {{ i18n "feet" }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="weight">{{ i18n "Weight" }}</label>
        </th>
        <td>
          <select id="weight" name="weight">
            <option value="lbs" {{ SelectIf .Weight `lbs` }}>
              {{ i18n "pounds" }}
            </option>
            <option value="kg" {{ SelectIf .Weight `kg` }}>
              {{ i18n "kilograms" }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit">{{ i18n "Update preferred units" }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
{{ end }} {{ end }}
