{{ define "workout_social" }}
<div
  class="shareon print:hidden"
  data-url=" "
  data-title="{{ i18n `I completed a workout: %s.` (i18n .Type.String) }} {{ i18n `It took me %s to go %s. I averaged %s.` (.Data.TotalDuration | HumanDuration) (.Data.TotalDistance | HumanDistance) (.Data.AverageSpeed | HumanSpeed) }}"
  data-hashtags="workout,{{ i18n .Type.String }}{{ if .Data.Address }},{{ .Data.Address.City }}{{ end }}"
>
  <a class="twitter"></a>
  <a class="mastodon"></a>
  <a class="pinterest"></a>
  <a class="reddit"></a>
  <a class="teams"></a>
  <a class="whatsapp"></a>
  <a class="print"></a>
</div>
{{ end }}
