{{ define "workout_item" }}
<div class="sm:w-[300px] p-1">
  <div
    class="rounded-xl py-2 px-5 bg-neutral-700 hover:bg-neutral-600 border border-neutral-500"
  >
    <div class="flex flex-wrap gap-2">
      <div class="grow">
        <a
          class="{{ IconFor .Type.String }}"
          href="{{ RouteFor `workout-show` .ID }}"
          >{{ .Name }}</a
        >
      </div>
      <div class="text-right text-sm">
        <a
          class="{{ IconFor `user` }}"
          href="{{ RouteFor `user-show` .User.ID }}"
        >
          {{ .User.Name }}</a
        >
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 text-sm text-neutral-400 mb-2">
      <div>
        <span title="{{ .Date | LocalDate }}">
          {{ .Date | RelativeDate }}
        </span>
      </div>
      <div class="text-right">
        {{ template "snippet_location" .Data.Address }}
      </div>
    </div>
    <div class="flex flex-wrap gap-2">
      <div
        class="workout-tile-info {{ IconFor `distance` }}"
        title="Total distance"
      >
        {{ .Data.TotalDistance | HumanDistance }}
      </div>
      <div
        class="workout-tile-info {{ IconFor `duration` }}"
        title="Total duration"
      >
        {{ .Data.TotalDuration | HumanDuration }}
      </div>
      <div
        class="workout-tile-info {{ IconFor `speed` }}"
        title="Average speed (no pause)"
      >
        {{ .Data.AverageSpeedNoPause | HumanSpeed }}
      </div>
      <div
        class="workout-tile-info {{ IconFor `tempo` }}"
        title="Average tempo (no pause)"
      >
        {{ .Data.AverageSpeedNoPause | HumanTempo }}
      </div>
      <div
        class="workout-tile-info {{ IconFor `max-speed` }}"
        title="Max speed"
      >
        {{ .Data.MaxSpeed | HumanSpeed }}
      </div>
    </div>
  </div>
</div>
{{ end }}
