{{ define "workout_map" }}
<div
  id="map"
  class="border-2 border-black rounded-xl h-[300px] sm:h-[400px] md:h-[600px] print:w-full print:h-[600px]"
>
  <script src="{{ RouteFor `assets` }}/map.js"></script>
  <script>
    makeMap({
      elementID: "map",
      center: [{{ .Data.Center.Lat  }}, {{  .Data.Center.Lng  }}],
      minElevation: {{ .Data.MinElevation }},
      maxElevation: {{ .Data.MaxElevation }},
      maxSpeed: {{ .Data.MaxSpeed }},
      speedName: "{{ i18n "Average speed" }}",
      elevationName: "{{ i18n "Elevation" }}",
      streetsName: "{{ i18n "Streets" }}",
      aerialName: "{{ i18n "Aerial" }}",

      points: [
        {{ with .Data.Details }}
        {{ range .Points -}}
        { "lat": {{ .Lat }}, "lng": {{ .Lng }}, "speed": {{ .AverageSpeed }}, "elevation": {{ .ExtraMetrics.Get "elevation" }}, "title": "{{ template `workout_point_title` . }}", },
        {{ end  }}
        {{ end  }}
      ]
    });
  </script>
</div>
<div class="flex flex-wrap">
  {{ if and (not AppConfig.SocialsDisabled) (not
  CurrentUser.Profile.SocialsDisabled) }} {{ template "workout_social" .}} {{
  end }}
  <div class="grow flex flex-wrap flex-row-reverse">
    <a href="#" title="{{ i18n `Show map in full width` }}" onclick="fullMap()">
      {{ IconFor `expand` }}</a
    >
  </div>
</div>
{{ end }}
