{{ define "workouts_list_details" }}
<div class="workouts_list_details flex flex-wrap gap-3">
  {{ if .Type.IsLocation }}
  <div
    class="hidden xl:table-cell {{ IconFor `location` }}"
    title="{{ i18n `Location` }}"
  >
    {{ .Address }}
  </div>
  {{ end }} {{ if .Type.IsDistance }}
  <div
    class="whitespace-nowrap font-mono {{ IconFor `distance` }}"
    title="{{ i18n `Distance` }}"
  >
    {{ .Data.TotalDistance | HumanDistance }} {{
    CurrentUser.PreferredUnits.Distance }}
  </div>
  {{ end }} {{ if .Type.IsDuration }}
  <div
    class="hidden sm:table-cell whitespace-nowrap font-mono {{ IconFor `duration` }}"
    title="{{ i18n `Duration` }}"
  >
    {{ .Data.TotalDuration | HumanDuration }}
  </div>
  {{ end }} {{ if and .Type.IsDistance .Type.IsDuration }}
  <div
    class="hidden 2xl:table-cell whitespace-nowrap font-mono {{ IconFor `speed` }}"
    title="{{ i18n `Average speed` }}"
  >
    {{ .Data.AverageSpeedNoPause | HumanSpeed }} {{
    CurrentUser.PreferredUnits.Speed }}
  </div>
  <div
    class="hidden 2xl:table-cell whitespace-nowrap font-mono {{ IconFor `speed` }}"
    title="{{ i18n `Average speed (no pause)` }}"
  >
    {{ .Data.AverageSpeedNoPause | HumanTempo }} {{
    CurrentUser.PreferredUnits.Tempo }}
  </div>
  <div
    class="hidden 2xl:table-cell whitespace-nowrap font-mono {{ IconFor `max-speed` }}"
    title="{{ i18n `Max speed` }}"
  >
    {{ .Data.MaxSpeed | HumanSpeed }} {{ CurrentUser.PreferredUnits.Speed }}
  </div>
  {{ end }} {{ if .Type.IsWeight }}
  <div
    class="hidden sm:table-cell whitespace-nowrap font-mono {{ IconFor `weight` }}"
    title="{{ i18n `Weight` }}"
  >
    {{ .Weight }}
  </div>
  {{ end }}{{ if .Type.IsRepetition }}
  <div
    class="hidden sm:table-cell whitespace-nowrap font-mono {{ IconFor `repetitions` }}"
    title="{{ i18n `Repetitions` }}"
  >
    {{ .Repetitions }}
  </div>
  {{ end }}
</div>
{{ end }}
