{{ define "workout_breakdown" }}
<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ i18n "Distance" }}</th>
      <th class="lg:hidden 3xl:table-cell">{{ i18n "Duration" }}</th>
      <th>{{ i18n "Speed" }}</th>
      <th>{{ i18n "Tempo" }}</th>
    </tr>
  </thead>
  <tbody class="whitespace-nowrap font-mono">
    {{ range .Items }}
    <tr
      {{
      with
      .LastPoint
      }}
      onmouseover="set_marker('{{ template `workout_point_title` . }}', {{ .Lat }}, {{ .Lng }})"
      {{
      end
      }}
      onmouseout="clear_marker()"
    >
      <td class="text-right">
        {{- if .IsWorst -}}
        <span class="text-orange-600">{{ IconFor `worst` }}</span>
        {{- end -}} {{- if .IsBest -}}
        <span class="text-green-500">{{ IconFor `best` }}</span>
        {{- end -}} {{ .Counter }}
      </td>
      <td>
        {{ .TotalDistance | HumanDistance }} {{
        CurrentUser.PreferredUnits.Distance }}
      </td>
      <td class="lg:hidden 3xl:table-cell">
        {{ .TotalDuration | HumanDuration }}
      </td>
      <td>{{ .Speed | HumanSpeed }} {{ CurrentUser.PreferredUnits.Speed }}</td>
      <td>{{ .Speed | HumanTempo }} {{ CurrentUser.PreferredUnits.Tempo }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
