{{ define "workout_details" }}
<table class="workout-info">
  <tbody>
    <tr>
      <td class="{{ IconFor `date` }}"></td>
      <th>Date</th>
      <td>
        <span title="{{ .Date | LocalDate }}">
          {{ .Date | RelativeDate }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="{{ IconFor `location` }}"></td>
      <th>Location</th>
      <td>{{ template "snippet_location" .Data.Address }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `workout` }}"></td>
      <th>Type</th>
      <td>{{ .Type }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `duration` }}"></td>
      <th>Total duration</th>
      <td>{{ .Data.TotalDuration }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `distance` }}"></td>
      <th>Total distance</th>
      <td>{{ .Data.TotalDistance | HumanDistance }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `speed` }}"></td>
      <th>Average speed</th>
      <td>{{ .Data.AverageSpeed | HumanSpeed }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `speed` }}"></td>
      <th>Average speed (no pauze)</th>
      <td>{{ .Data.AverageSpeedNoPauze | HumanSpeed }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `tempo` }}"></td>
      <th>Average tempo</th>
      <td>{{ .Data.AverageSpeed | HumanTempo }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `tempo` }}"></td>
      <th>Average tempo (no pauze)</th>
      <td>{{ .Data.AverageSpeedNoPauze | HumanTempo }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `max-speed` }}"></td>
      <th>Max speed</th>
      <td>{{ .Data.MaxSpeed | HumanSpeed }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `pauze` }}"></td>
      <th>Time pauzed</th>
      <td>{{ .Data.PauzeDuration }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `elevation` }}"></td>
      <th>Min elevation</th>
      <td>{{ .Data.MinElevation | HumanDistance }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `elevation` }}"></td>
      <th>Max elevation</th>
      <td>{{ .Data.MaxElevation | HumanDistance }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `up` }}"></td>
      <th>Total up</th>
      <td>{{ .Data.TotalUp | HumanDistance }}</td>
    </tr>
    <tr>
      <td class="{{ IconFor `down` }}"></td>
      <th>Total down</th>
      <td>{{ .Data.TotalDown | HumanDistance }}</td>
    </tr>
  </tbody>
</table>
{{end}}
