{{ define "workout_show_stats" }}
<div id="chart"></div>
<script>
  var theme = 'light';
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    theme = 'dark';
  }

  var data = [
    {{ range .Items -}}
    { "lat": {{ .FirstPoint.Lat }}, "lng": {{ .FirstPoint.Lng }}, "label": "{{ template `workout_point_title` .FirstPoint }}", },
    {{- end  }}
  ];
  var options = {
    theme: { mode: theme },
    chart: {
      height: 400,
      animations: { enabled: false },
      toolbar: { show: false },
    },
    legend: {
      position: 'top',
      formatter: (seriesName, opts)=>{
        if(opts.seriesIndex>3) return '';
        return seriesName;
      },
      markers: { width: [12,12,12,12,0] }
    },
    tooltip: {
      x: { format: 'HH:mm', },
      y: [
        { formatter: function (val, opts) {
          set_marker( data[opts.dataPointIndex].label, data[opts.dataPointIndex].lat, data[opts.dataPointIndex].lng)
          return val + " {{ CurrentUser.PreferredUnits.Speed }}"; }
        },
        { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Elevation }}"; } },
        { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.HeartRate }}"; } },
        { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Cadence }}"; } },
        { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Distance }}"; } },
        { formatter: function (val, opts) { return formatDuration(val); } },
      ],
    },
    stroke: {
      width: 2,
      curve: 'smooth',
    },
    markers: {
      size: 1,
    },
    series: [
      {
        name: "{{ i18n `Average speed` }}",
        type: "line",
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .Speed | HumanSpeed }}, },
          {{- end  }}
        ],
      },
      {
        name: "{{ i18n `Elevation` }}",
        type: "area",
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .FirstPoint.ExtraMetrics.Get "elevation" | HumanElevation }}, },
          {{- end  }}
        ],
      },
      {
        name: "{{ i18n `Heart rate` }}",
        type: "line",
        display: false,
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .FirstPoint.ExtraMetrics.Get "heart-rate" }}, },
          {{- end  }}
        ].map((p) => {
          if(p.y <= 0) p.y = null;
          return p;
        }),
      },
      {
        name: "{{ i18n `Cadence` }}",
        type: "line",
        display: false,
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .FirstPoint.ExtraMetrics.Get "cadence" }}, },
          {{- end  }}
        ],
      },
      {
        name: "{{ i18n `Distance` }}",
        type: "none",
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .TotalDistance | HumanDistance }}, },
          {{- end  }}
        ],
      },
      {
        name: "{{ i18n `Duration` }}",
        type: "none",
        data: [
          {{ range .Items -}}
          { "x": {{ .FirstPoint.Time }}, "y": {{ .TotalDuration | NumericDuration }}, },
          {{- end  }}
        ],
      },
    ],
    xaxis: { type: "datetime", },
    yaxis: [
      {
        min: 0,
        labels: {
          formatter: (val) => {
            return val + " {{ CurrentUser.PreferredUnits.Speed }}";
          },
        },
      },
      {
        labels: {
          formatter: (val) => {
            return val + " {{ CurrentUser.PreferredUnits.Elevation }}";
          },
        },
        opposite: true,
      },
      {
        labels: {
          formatter: (val) => {
            return val + " {{ CurrentUser.PreferredUnits.HeartRate }}";
          },
        },
      },
      {
        labels: {
          formatter: (val) => {
            return val + " {{ CurrentUser.PreferredUnits.Cadence }}";
          },
        },
      },
      { show: false },
    ],
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
  chart.hideSeries("{{ i18n `Heart rate` }}");
  chart.hideSeries("{{ i18n `Cadence` }}");
</script>
{{ end }}
