{# This should be a string with no newlines, because it is injected in a
Javascript string. I hope to find a better solution than this... #} {{- define
"workout_point_title" -}}
<ol>
  {{- "" -}}
  <li><b>{{ i18n "Time" }}:</b> {{ (.Time | LocalTime).Format "15:04" }}</li>
  {{- "" -}}
  <li>
    {{- "" -}}
    <b>{{ i18n "Distance" }}:</b> {{ .TotalDistance | HumanDistance }} {{
    CurrentUser.PreferredUnits.Distance }} {{- "" -}}
  </li>
  {{- "" -}}
  <li><b>{{ i18n "Duration" }}:</b> {{ .TotalDuration | HumanDuration }}</li>
  {{- "" -}}
  <li>
    {{- "" -}}
    <b>{{ i18n "Speed" }}:</b> {{ .AverageSpeed | HumanSpeed }} {{
    CurrentUser.PreferredUnits.Speed }} {{- "" -}}
  </li>
  {{- "" -}}
  <li>
    {{- "" -}}
    <b>{{ i18n "Elevation" }}:</b> {{ .ExtraMetrics.Get "elevation" |
    HumanElevation }} {{ CurrentUser.PreferredUnits.Elevation }} {{- "" -}}
  </li>
  {{- "" -}}
</ol>
{{- end -}}
