{{ define "workout_breakdown" }}
<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ i18n "Lap" }}</th>
      <th>{{ i18n "Distance" }}</th>
      <th>{{ i18n "Duration" }}</th>
      <th>{{ i18n "Speed" }}</th>
      <th>{{ i18n "Tempo" }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Items }}
    <tr
      {{
      with
      .LastPoint
      }}
      onmouseover="set_marker('{{ template `workout_point_title` . }}', {{ .Lat }}, {{ .Lng }})"
      {{
      end
      }}
      onmouseout="clear_marker()"
    >
      <td>
        {{ if .IsWorst }}
        <span class="text-orange-600 {{ IconFor `worst` }}"></span>{{ end }} {{
        if .IsBest }}
        <span class="text-green-500 {{ IconFor `best` }}"></span>{{ end }}
      </td>
      <td class="text-center">{{ .Counter }}</td>
      <td>{{ .TotalDistance | HumanDistance }}</td>
      <td>{{ .Duration | HumanDuration }}</td>
      <td class="whitespace-nowrap font-mono">{{ .Speed | HumanSpeed }}</td>
      <td class="whitespace-nowrap font-mono">{{ .Speed | HumanTempo }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
