{{ define "workout_breakdown" }}
<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ i18n "KM" }}</th>
      <th>{{ i18n "Duration" }}</th>
      <th>{{ i18n "Speed" }}</th>
      <th>{{ i18n "Tempo" }}</th>
    </tr>
  </thead>
  <tbody>
    {{ $distance := 0 }} {{ range . }} {{ $distance = .Distance }}
    <tr
      {{
      with
      .LastPoint
      }}
      onmouseover="set_marker('{{ template `workout_point_title` . }}', {{ .Lat }}, {{ .Lng }})"
      {{
      end
      }}
      onmouseout="clear_marker()"
    >
      <td>
        {{ if .IsWorst }}
        <span class="text-orange-600 {{ IconFor `worst` }}"></span>{{ end }} {{
        if .IsBest }}
        <span class="text-green-500 {{ IconFor `best` }}"></span>{{ end }}
      </td>
      <td class="text-center">{{ .Counter }}</td>
      <td>{{ .Duration }}</td>
      <td>{{ .Speed | HumanSpeed }}</td>
      <td>{{ .Speed | HumanTempo }}</td>
    </tr>
    {{ end }}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td colspan="3">
        {{ i18n "Last distance" }}: {{ $distance | HumanDistance }}
      </td>
    </tr>
  </tfoot>
</table>
{{ end }}
