{{ define "workout_route_segments" }}
<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ i18n "Name" }}</th>
      <th>{{ i18n "Distance" }}</th>
      <th>{{ i18n "Duration" }}</th>
      <th>{{ i18n "Speed" }}</th>
      <th>{{ i18n "Tempo" }}</th>
    </tr>
  </thead>
  <tbody class="whitespace-nowrap font-mono">
    {{ range . }}
    <tr>
      <td>{{ IconFor `route-segment` }}</td>
      <td class="flex flex-wrap gap-1">
        <a href="{{ RouteFor `route-segment-show` .RouteSegment.ID }}"
          >{{ .RouteSegment.Name }}</a
        >
      </td>
      <td>
        {{ .Distance | HumanDistance }} {{ CurrentUser.PreferredUnits.Distance
        }}
      </td>
      <td>{{ .Duration | HumanDuration }}</td>
      <td>
        {{ .AverageSpeed | HumanSpeed }} {{ CurrentUser.PreferredUnits.Speed }}
      </td>
      <td>
        {{ .AverageSpeed | HumanTempo }} {{ CurrentUser.PreferredUnits.Tempo }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
