.idea/
tmp/
data/
*.db
*.db-journal
node_modules/
workout-tracker.yaml
/workout-tracker
coverage.out
/assets/*
!/assets/logo.png
!/assets/logo-small.png
!/assets/*.go
.aider*
*_templ.txt
/frontend/src/generated
