<tr>
  <td><label for="name">{{ i18n "Name" }}</label></td>
  <td>
    <input
      type="text"
      name="name"
      id="name"
      size="60"
      value="{{ .Name }}"
      required
    />
  </td>
</tr>
<tr>
  <td><label for="date">{{ i18n "Date" }}</label></td>
  <td>
    <input
      type="datetime-local"
      name="date"
      id="date"
      value="{{ .Date | LocalDate }}"
      required
    />
  </td>
</tr>
<tr>
  <td><label for="location">{{ i18n "Location" }}</label></td>
  <td>
    <input
      type="text"
      name="location"
      id="location"
      size="60"
      value="{{ .FullAddress }}"
      autocomplete="off"
      hx-trigger="load, input changed queue:last delay:300ms"
      hx-target="#addresses"
      hx-post="{{ RouteFor `lookup-address` }}"
    />
    <div id="addresses"></div>
  </td>
</tr>
{{ if .Type.IsDuration }}
<tr>
  <td><label for="duration">{{ i18n "Duration" }}</label></td>
  <td>
    <input
      type="number"
      name="duration_hours"
      id="duration_hours"
      min="0"
      max="999"
      maxlength="3"
      value="{{ int .Duration.Hours }}"
      required
    />:
    <input
      type="number"
      name="duration_minutes"
      id="duration_minutes"
      min="0"
      max="59"
      maxlength="2"
      value="{{ mod .Duration.Minutes 60 }}"
      required
    />:
    <input
      type="number"
      name="duration_seconds"
      id="duration_seconds"
      min="0"
      max="59"
      maxlength="2"
      value="{{ mod .Duration.Seconds 60 }}"
      required
    />
    (hhh:mm:ss)
  </td>
</tr>
{{ end }} {{ if .Type.IsDistance }}
<tr>
  <td><label for="distance">{{ i18n "Distance" }}</label></td>
  <td>
    <input
      type="text"
      name="distance"
      id="distance"
      value="{{ default `` (.Distance | HumanDistance) }}"
      required
    />
    <span>{{ CurrentUser.PreferredUnits.Distance }}</span>
  </td>
</tr>
{{ end }} {{ if .Type.IsRepetition }}
<tr>
  <td><label for="repetitions">{{ i18n "Repetitions" }}</label></td>
  <td>
    <input
      type="number"
      name="repetitions"
      id="repetitions"
      value="{{ default `` .Repetitions }}"
      required
    />
  </td>
</tr>
{{ end }} {{ if .Type.IsWeight }}
<tr>
  <td><label for="weight">{{ i18n "Weight" }}</label></td>
  <td>
    <input
      type="text"
      name="weight"
      id="weight"
      value="{{ default `` .Weight }}"
      required
    />
    <span>{{ CurrentUser.PreferredUnits.Weight }}</span>
  </td>
</tr>
{{ end }}
<tr>
  <td>
    <label for="notes">{{ i18n "Notes" }}</label>
  </td>
  <td>
    <textarea type="text" id="notes" name="notes" rows="10" cols="60">
{{ .Notes }}</textarea
    >
  </td>
</tr>
<tr>
  <td>
    <label for="equipment">{{ i18n "Equipment" }}</label>
  </td>
  <td>
    {{ $w := . }} {{ range CurrentUser.Equipment }}
    <label class="inline">
      <input
        class="hidden peer"
        type="checkbox"
        id="equipment_{{ .ID }}"
        name="equipment"
        value="{{ .ID }}"
        {{
        .
        |
        $w.Uses
        |
        BoolToCheckbox
        }}
      />
      <span id="{{ .ID }}" class="selectable-pill" for="equipment_{{ .ID }}"
        >{{ .Name }}
      </span>
    </label>
    {{ end }}
  </td>
</tr>
