<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .workout }}
      <div class="gap-4">
        <h2>{{ IconFor .Type.String }}{{ .Name }}</h2>
      </div>
      <div class="sm:flex sm:flex-wrap">
        <div class="basis-1/2">
          <div class="inner-form">
            <form method="post" action="{{ RouteFor `workout-update` .ID }}">
              <table>
                <thead>
                  <tr>
                    <td>
                      <label for="type">{{ i18n "Workout type" }}</label>
                    </td>
                    <td>
                      <input type="hidden" name="id" value="{{ .ID }}" />
                      <select
                        id="type"
                        name="type"
                        hx-get="{{ RouteFor `workout-form` }}"
                        hx-target="#workout-form"
                        hx-trigger="load, input changed delay:300ms"
                        hx-include="[name='id']"
                      >
                        {{ $t := .Type.String }} {{ range workoutTypes }}
                        <option value="{{ .String }}" {{ SelectIf .String $t }}>
                          {{ i18n .String }}
                        </option>
                        {{ end }}
                      </select>
                    </td>
                  </tr>
                </thead>
                <tbody id="workout-form">
                  <tr>
                    <td></td>
                    <td>Select a category</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td>
                      <button type="submit">{{ i18n "Update workout" }}</button>
                      <button type="reset" class="edit">
                        {{ i18n "Reset changes" }}
                      </button>
                      <button
                        type="button"
                        class="dangerous"
                        onclick="document.location='{{ RouteFor `workout-show` .ID }}'"
                      >
                        {{ i18n "Cancel" }}
                      </button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </form>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">{{ template "workout_details" . }}</div>
        </div>
      </div>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
