<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .workout }}
      <div class="gap-4">
        <h2 class="{{ IconFor .Type.String }}">
          {{ .Name }} {{ with .Filename }}({{ . }}){{ end }}
        </h2>
      </div>
      <div class="sm:flex sm:flex-wrap">
        <div class="basis-1/2">
          <div class="inner-form">
            <form method="post" action="{{ RouteFor `workout-update` .ID }}">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label for="name">{{ i18n "Name" }}</label>
                    </td>

                    <td>
                      <input id="name" name="name" value="{{ .Name }}" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="type">{{ i18n "Type" }}</label>
                    </td>
                    <td>
                      <select id="type" name="type">
                        {{ $t := .Type }} {{ range workoutTypes }}
                        <option
                          value="{{ .String }}"
                          {{
                          if
                          eq
                          $t.String
                          .String
                          }}
                          selected
                          {{
                          end
                          }}
                        >
                          {{ i18n .String }}
                        </option>
                        {{ end }}
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="notes">{{ i18n "Notes" }}</label>
                    </td>
                    <td>
                      <textarea type="text" id="notes" name="notes" rows="10">
{{ .Notes }}</textarea
                      >
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button type="submit">{{ i18n "Update workout" }}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">{{ template "workout_details" . }}</div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">
            {{ template "workout_breakdown" $.workoutStatisticsPerKM }}
          </div>
        </div>
      </div>
      {{ if .Notes }}
      <div class="inner-form">
        <h3 class="{{ IconFor `note` }}">{{ i18n "Notes" }}</h3>
        <div>{{ .Notes }}</div>
      </div>
      {{ end }} {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
