<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <div class="inner-form">
        <h2 class="{{ IconFor `workout-add` }}">Add a workout</h2>
        <form
          method="post"
          action="{{ RouteFor `workouts-create` }}"
          enctype="multipart/form-data"
        >
          <table>
            <tbody>
              <tr>
                <td><label for="file">File</label></td>
                <td>
                  <input
                    type="file"
                    id="file"
                    name="file"
                    accept=".gpx"
                    multiple
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="type">Type</label>
                </td>
                <td>
                  <input
                    type="type"
                    id="type"
                    name="type"
                    value="running"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="notes">Notes</label>
                </td>
                <td>
                  <textarea
                    type="text"
                    id="notes"
                    name="notes"
                    rows="10"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit">Add workouts</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
