<table>
  <tbody>
    <tr>
      <td>{{ IconFor `name` }}</td>
      <td class="max-w-[0px] overflow-hidden whitespace-nowrap text-ellipsis">
        <a href="{{ RouteFor `workout-show` .ID }}">{{ .Name }}</a>
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `date` }}</td>
      <td>{{ template "snippet_date" .Date }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `workout` }}</td>
      <td>
        <span>{{ IconFor .Type.String }}{{ i18n .Type.String }}</span>
      </td>
    </tr>
    {{ if .Type.IsRepetition }}
    <tr>
      <td>{{ IconFor `repetitions` }}</td>
      <td class="whitespace-nowrap font-mono">{{ .TotalRepetitions }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `tempo` }}</td>
      <td class="whitespace-nowrap font-mono">
        {{ .RepetitionFrequencyPerMinute }}
      </td>
    </tr>
    {{ end }}{{ if .Type.IsWeight }}
    <tr>
      <td>{{ IconFor `weight` }}</td>
      <td class="whitespace-nowrap font-mono">{{ .Weight }}</td>
    </tr>
    {{ end }} {{ if .Type.IsDuration }}
    <tr>
      <td>{{ IconFor `duration` }}</td>
      <td class="whitespace-nowrap font-mono">
        {{ .TotalDuration | HumanDuration }}
      </td>
    </tr>
    {{ end }} {{ if .Type.IsDistance }}
    <tr>
      <td>{{ IconFor `distance` }}</td>
      <td class="whitespace-nowrap font-mono">
        {{ .TotalDistance | HumanDistance }} {{
        CurrentUser.PreferredUnits.Distance }}
      </td>
    </tr>
    {{ end }} {{ if and .Type.IsDistance .Type.IsDuration }}
    <tr>
      <td>{{ IconFor `speed` }}</td>
      <td class="whitespace-nowrap font-mono">
        {{ .AverageSpeed | HumanSpeed }} {{ CurrentUser.PreferredUnits.Speed }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
