<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/leaflet.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/leaflet.css" rel="stylesheet" />
    <script src="{{ RouteFor `assets` }}/dist/chart.js"></script>
    <script src="{{ RouteFor `assets` }}/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link
      href="{{ RouteFor `assets` }}/dist/shareon.min.css"
      rel="stylesheet"
    />
    <script
      src="{{ RouteFor `assets` }}/dist/shareon.iife.js"
      defer
      init
    ></script>
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .workout }}
      <div class="gap-4">
        {{ if eq .User.ID CurrentUser.ID }}
        <span class="float-right actions">
          {{ template "workout_actions" . }}
        </span>
        {{ end }}

        <h2 class="{{ IconFor .Type.String }}">
          {{ .Name }} {{ with .Filename }}({{ . }}){{ end }}
        </h2>
      </div>
      <div class="sm:flex sm:flex-wrap print:block">
        <div class="basis-1/2 pagebreak">
          <div class="inner-form">
            <div
              id="map"
              class="border-2 border-black rounded-xl h-[300px] sm:h-[400px] md:h-[600px] print:w-full print:h-[600px]"
            >
              <script>
                let points = [
                  {{ with .Data.Details }}
                  {{ range .Points -}}
                  { "lat": {{ .Lat }}, "lng": {{ .Lng }}, "speed": {{ .AverageSpeed }}, "elevation": {{ .Elevation }}, "title": "{{ template `workout_point_title` . }}", },
                  {{ end  }}
                  {{ end  }}
                ];
                let center = [{{  .Data.Center.Lat  }}, {{  .Data.Center.Lng  }}];
                let minElevation = {{ .Data.MinElevation }};
                let maxElevation = {{ .Data.MaxElevation }};
              </script>
              <script src="{{ RouteFor `assets` }}/map.js"></script>
            </div>
            {{ if and (not $.SocialsDisabled) (not
            CurrentUser.Profile.SocialsDisabled) }} {{ template "workout_social"
            .}} {{ end }}
          </div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">{{ template "workout_details" . }}</div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">
            {{ template "workout_breakdown" $.workoutStatisticsPerKM }}
          </div>
        </div>
      </div>
      <div class="pagebreak">
        {{ if .Notes }}
        <div class="inner-form">
          <h3 class="{{ IconFor `note` }}">{{ i18n "Notes" }}</h3>
          <div>{{ .MarkdownNotes }}</div>
        </div>
        {{ end }}
      </div>
      <div class="inner-form h-[300px] md:h-[500px] print:hidden">
        <h3>
          <span class="{{ IconFor `speed` }}">{{ i18n "Average speed" }}</span>
          /
          <span class="{{ IconFor `elevation` }}">{{ i18n "Elevation" }}</span>
        </h3>
        {{ template "workout_show_stats" $.workoutStatisticsPerMin }}
      </div>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
