<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <div class="items-baseline flex flex-wrap">
        <h2 class="grow justify-start">
          {{ IconFor `workout` }} {{ i18n "Workouts" }} ({{ len .workouts }})
        </h2>
        <div class="justify-end mr-2">
          <a href="{{ RouteFor `workout-add` }}"
            >{{ IconFor `add` }}{{ i18n "Add workout" }}</a
          >
        </div>
      </div>

      <table class="workout-info">
        <thead>
          <tr>
            <th></th>
            <th>{{ i18n "Name" }}</th>
            <th>{{ i18n "Date" }}</th>
            <th class="hidden lg:table-cell">{{ i18n "Details"}}</th>
            <th class="hidden sm:table-cell"></th>
          </tr>
        </thead>
        <tbody>
          {{ range .workouts }}
          <tr>
            <td class="text-center">
              <div title="{{ i18n .Type.String }}">
                {{ IconFor .Type.String }}
              </div>
            </td>
            <td>
              <a href="{{ RouteFor `workout-show` .ID }}">
                {{ if gt (.Name | len) 20 }}
                <abbr title="{{ .Name }}"> {{ printf "%.20s" .Name }}...</abbr>
                {{ else }} {{ .Name }} {{ end }}
              </a>
            </td>
            <td>{{ template "snippet_date" .Date }}</td>
            <th class="hidden lg:table-cell">
              {{ template "workouts_list_details" . }}
            </th>
            <td class="hidden sm:table-cell">
              {{ if .Dirty }}
              <span title="{{ i18n `refresh in progress` }}">
                {{ IconFor `refresh` }}
              </span>
              {{ end }}
              <span class="actions"> {{ template "workout_actions" . }} </span>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
