<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/leaflet.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/leaflet.css" rel="stylesheet" />
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .workout }}
      <div class="gap-4">
        {{ if eq .User.ID $.currentUser.ID }}
        <span class="float-right actions">
          {{ template "workout_actions" . }}
        </span>
        {{ end }}

        <h2 class="{{ IconFor .Type }}">{{ .Name | html }}</h2>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div
          id="map"
          class="border-2 border-black rounded-xl"
          style="height: 600px"
        >
          <script>
            let points = [
              {{- range $idx, $pt := .Data.Points }}
              {{  if $idx  }},{{  end -}}
              { "lat": {{  $pt.Lat  }}, "lng": {{  $pt.Lng -}}, "title": {{  $pt.Title  }} }
              {{- end  }}
            ];
            let center = [{{  .Data.Center.Lat  }}, {{  .Data.Center.Lng  }}];
          </script>
          <script src="{{ RouteFor `assets` }}/map.js"></script>
        </div>
        <div class="grid grid-cols-1">
          {{ if .Notes }}
          <div class="inner-form text-sm h-16 hover:h-fit overflow-hidden">
            <div class="flex">
              <div class="font-bold rounded-xl {{ IconFor `note` }}"></div>
              {{ .Notes }}
            </div>
          </div>
          {{ end }}
          <div class="grid grid-cols-2 gap-4">
            <div class="inner-form">{{ template "workout_details" . }}</div>
            <div class="inner-form">
              {{ template "workout_breakdown" $.workoutStatistics }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
