<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/leaflet.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/leaflet.css" rel="stylesheet" />
    <script src="{{ RouteFor `assets` }}/dist/chart.js"></script>
    <script src="{{ RouteFor `assets` }}/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .workout }}
      <div class="gap-4">
        {{ if eq .User.ID $.currentUser.ID }}
        <span class="float-right actions">
          {{ template "workout_actions" . }}
        </span>
        {{ end }}

        <h2 class="{{ IconFor .Type.String }}">{{ .Name }}</h2>
      </div>
      <div class="sm:flex sm:flex-wrap">
        <div class="basis-1/2">
          <div class="inner-form">
            <div
              id="map"
              class="border-2 border-black rounded-xl h-[300px] sm:h-[400px] md:h-[600px]"
            >
              <script>
                let points = [
                  {{ range .Data.Points }}
                  {
                    "lat": {{ .Lat }},
                    "lng": {{ .Lng }},
                    "speed": {{ .AverageSpeed }},
                    "elevation": {{ .Elevation }},
                    "title": '{{ template "workout_point_title" . }}',
                  },
                  {{ end  }}
                ];
                let center = [{{  .Data.Center.Lat  }}, {{  .Data.Center.Lng  }}];
                let minElevation = {{ .Data.MinElevation }};
                let maxElevation = {{ .Data.MaxElevation }};
              </script>
              <script src="{{ RouteFor `assets` }}/map.js"></script>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">{{ template "workout_details" . }}</div>
        </div>
        <div class="basis-1/4">
          <div class="inner-form">
            {{ template "workout_breakdown" $.workoutStatistics }}
          </div>
        </div>
      </div>
      {{ if .Notes }}
      <div class="inner-form">
        <h3 class="{{ IconFor `note` }}">{{ i18n "Notes" }}</h3>
        <div>{{ .Notes }}</div>
      </div>
      {{ end }}
      <div class="sm:flex sm:flex-wrap">
        <div class="basis-1/2">
          <div class="inner-form">
            <h3 class="{{ IconFor `speed` }}">{{ i18n "Average speed" }}</h3>
            <canvas id="speed-chart"></canvas>
          </div>
        </div>
        <div class="basis-1/2">
          <div class="inner-form">
            <h3 class="{{ IconFor `elevation` }}">{{ i18n "Elevation" }}</h3>
            <canvas id="elevation-chart"></canvas>
          </div>
        </div>
      </div>

      <script>
        let xAxisScale = {
          type: "time",
          time: {
            unit: "minute",
            tooltipFormat: "HH:mm",
            displayFormats: {
              minute: "HH:mm",
            },
          },
        };
      </script>

      <script>
        new Chart(document.getElementById("speed-chart"), {
          type: "line",
          data: {
            datasets: [{
              label: "{{ i18n `Average speed` }}",
              data: [
                {{ $minSpeed := 10000.0 }}
                {{ $maxSpeed := (index .Data.Points 0).AverageSpeed }}
                {{ $minute := (index .Data.Points 0).Time.Minute }}
                {{ range .Data.Points -}}
                  {{ if gt $minSpeed .AverageSpeed }}{{ $minSpeed = .AverageSpeed }}{{ end }}
                  {{- if ne (.Time.Minute) $minute -}}
                    { "x": {{ .Time }}, "y": 3.6 * {{ $maxSpeed }}, },
                    {{- $maxSpeed = .AverageSpeed -}}
                    {{- $minute = .Time.Minute -}}
                  {{- end -}}
                  {{- if gt .AverageSpeed $maxSpeed }}{{ $maxSpeed = .AverageSpeed }}{{ end -}}
                {{- end  }}
              ],
            }],
          },
          options: {
            scales: {
              x: xAxisScale,
              y: {
                min: Math.floor(3.6 * {{ $minSpeed }}),
                ticks: {
                  callback: function (value) {
                    return (
                      value.toLocaleString(undefined, {
                        maximumFractionDigits: 2,
                      }) + " km/h"
                    );
                  },
                },
              },
            },
            plugins: {
              tooltip: {
                callbacks: {
                  label: function (context) {
                    let label = context.dataset.label || "";

                    if (label) {
                      label += ": ";
                    }
                    if (context.parsed.y !== null) {
                      label +=
                        context.parsed.y.toLocaleString(undefined, {
                          maximumFractionDigits: 2,
                        }) + " km/h";
                    }
                    return label;
                  },
                },
              },
            },
          },
        });
        new Chart(document.getElementById("elevation-chart"), {
          type: "line",
          data: {
            datasets: [{
              label: "{{ i18n `Elevation` }}",
              data: [
                {{ $maxElevation := (index .Data.Points 0).Elevation }}
                {{ $minute := (index .Data.Points 0).Time.Minute }}
                {{ range .Data.Points -}}
                  {{- if ne (.Time.Minute) $minute -}}
                    { "x": {{ .Time }}, "y": {{ $maxElevation }}, },
                    {{- $maxElevation = .Elevation -}}
                    {{- $minute = .Time.Minute -}}
                  {{- end -}}
                  {{- if gt .Elevation $maxElevation }}{{ $maxElevation = .Elevation }}{{ end -}}
                {{- end  }}
              ],
            }],
          },
          options: { scales: {
            x: xAxisScale,
            y: {
              min: Math.floor(minElevation),
              max: Math.ceil(maxElevation),
            },
          } },
        });
      </script>

      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
