<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2
        class="icon-solid icon-baseline icon-space-sm icon-before icon-dumbbell"
      >
        Workouts
      </h2>

      <table class="workouts-list">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Average speed</th>
            <th>Average tempo</th>
            <th>Max speed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ range .workouts }}
          <tr>
            <td class="text-center">
              <div
                class="icon-{{ .Type | FAIconClass }} icon-baseline icon-space-sm icon-before
                    icon-{{ .Type | FAIconName }}"
              ></div>
            </td>
            <th>
              <a href="/workouts/{{   .ID  }}">{{ .Name | html }}</a>
            </th>
            <td>
              <span title="{{ .Date | LocalDate }}">
                {{ .Date | RelativeDate }}
              </span>
            </td>
            <td>{{ template "snippet_location" .Data.Address }}</td>
            <td>{{ .Data.TotalDistance | HumanDistance }}</td>
            <td>{{ .Data.TotalDuration }}</td>
            <td>{{ .Data.AverageSpeed | HumanSpeed }}</td>
            <td>{{ .Data.AverageSpeed | HumanTempo }}</td>
            <td>{{ .Data.MaxSpeed | HumanSpeed }}</td>
            <td>
              <span class="actions"> {{ template "workout_actions" . }} </span>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
