<!doctype html>
<html>
  <head>
    {{ template "head" . }}
  </head>
  <body class="bg-gray-300 dark:bg-neutral-900 dark:text-zinc-100 px-20">
    {{ template "header" . }} {{ template "alerts" . }}
    <div class="content">
      <h2
        class="icon-solid icon-baseline icon-space-sm icon-before icon-dumbbell"
      >
        Workouts
      </h2>

      <table class="workouts-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{ range .workouts }}
          <tr>
            <th><a href="/workouts/{{   .ID  }}">{{ .Name | html }}</a></th>
            <td class="italic">({{ .Date | html }})</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
