<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <div class="inner-form">
        <h2>{{ IconFor `equipment-add` }} {{ i18n "Add equipment" }}</h2>
        <form method="post" action="{{ RouteFor `equipment-create` }}">
          <table class="sm:table-fixed">
            <tbody>
              <tr>
                <td>
                  <label for="name">{{ i18n "Name" }}</label>
                </td>
                <td>
                  <input type="text" id="name" name="name" />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="description">{{ i18n "Description" }}</label>
                </td>
                <td>
                  <textarea
                    type="text"
                    id="description"
                    name="description"
                    rows="10"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="active">{{ i18n "Active" }}</label>
                </td>
                <td>
                  <input
                    type="checkbox"
                    id="active"
                    name="active"
                    value="true"
                    checked="true"
                  />
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button type="submit">{{ i18n "Add equipment" }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
