<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2
        class="icon-solid icon-baseline icon-space-sm icon-before icon-chart-line"
      >
        Dashboard
      </h2>

      {{ template "stats_records_total" .UserStatistics.Total }}

      <div class="grid grid-cols-2 gap-4">
        <div>
          <div class="inner-form">
            {{ template "stats_records_running" .UserStatistics.Records }}
          </div>
        </div>
        <div class="inner-form" id="calendar"></div>
        <script src="/assets/fullcalendar.min.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            var calendar = new FullCalendar.Calendar(calendarEl, {
              timeZone: "Belgium",
              initialView: "dayGridMonth",
              locale: "nl-BE",
              firstDay: 1,
              aspectRatio: 2,
              events: [
                {{ range $idx, $w := .workouts }}
                {
                  classNames: [
                    "icon-baseline", "icon-before",
                    "icon-{{ $w.Type | FAIconClass }}", "icon-{{ $w.Type | FAIconName }}"
                  ],
                  start: "{{ $w.Date | LocalDate }}",
                  url: "/workouts/{{ $w.ID }}",
                },
                {{ end }}
              ],
            });
            calendar.render();
          });
        </script>
      </div>
    </div>

    {{ template "footer" }}
  </body>
</html>
