<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body class="bg-gray-300 dark:bg-neutral-900 dark:text-zinc-100 px-20">
    {{ template "header" . }}
    <div class="content">
      <h2
        class="icon-solid icon-baseline icon-space-sm icon-before icon-chart-line"
      >
        Dashboard
      </h2>

      <div class="grid grid-cols-3 gap-4">
        {{ template "statistic_tile" (BuildDecoratedAttribute "dumbbell"
        "workouts" .UserStatistics.Total.Workouts) }} {{ template
        "statistic_tile" (BuildDecoratedAttribute "road" "distance"
        (.UserStatistics.Total.Distance | HumanDistance) ) }} {{ template
        "statistic_tile" (BuildDecoratedAttribute "clock" "duration"
        .UserStatistics.Total.Duration) }}
      </div>
    </div>

    {{ template "footer" }}
  </body>
</html>
