<!doctype html>
<html>
  <head>
    {{ template "head" . }}
    <script src="/assets/leaflet.js"></script>
    <link href="/assets/leaflet.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-300 dark:bg-neutral-900 dark:text-zinc-100 px-20">
    {{template "header" .}}
    <div class="content">
      {{ if .notice }}
      <div class="notice" role="alert">
        <span class="block sm:inline"> {{ .notice | html }} </span>
      </div>
      {{ end }} {{ if .error }}
      <div class="alert" role="alert">
        <span class="block sm:inline"> {{ .error | html }} </span>
      </div>
      {{ end }}

      <div class="grid grid-cols-3">
        <h2
          class="icon-solid icon-baseline icon-space-sm icon-before icon-dumbbell"
        >
          {{ .workout.Name | html }}
        </h2>
        <div class="italic">{{ .workout.Type }}</div>
        <div class="workout-date">{{ .workout.Date }}</div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div
          id="map"
          class="border-2 border-black rounded-xl"
          style="height: 600px"
        >
          <script>
            let points = [
              {{- range $idx, $pt := .workout.Data.Points }}
              {{ if $idx }},{{ end -}}
              { "lat": {{ $pt.Lat }}, "lng": {{ $pt.Lng -}}, "title": {{ $pt.Title }} }
              {{- end }}
            ];
            let center = [{{ .workout.Data.Center.Lat }}, {{ .workout.Data.Center.Lng }}];
          </script>
          <script src="/assets/map.js"></script>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="inner-form">
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-regular icon-baseline icon-space-sm icon-outside icon-clock"
                ></span>
                Total duration
              </div>
              <div class="workout-info-value">
                {{ .workout.Data.TotalDuration }}
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-road"
                ></span>
                Total distance
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.TotalDistance }} km
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-gauge"
                ></span>
                Average speed
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.AverageSpeed }} km/h
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-gauge-high"
                ></span>
                Max speed
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.MaxSpeed }} km/h
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-hourglass"
                ></span>
                Time pauzed
              </div>
              <div class="workout-info-value">
                {{ .workout.Data.PauzeDuration }}
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-mountain"
                ></span>
                Min elevation
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.MinElevation }} m
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-mountain"
                ></span>
                Max elevation
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.MaxElevation }} m
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-chevron-up"
                ></span>
                Total up
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.TotalUp }} m
              </div>
            </div>
            <div class="workout-info-row">
              <div class="workout-info-label">
                <span
                  class="workout-info-icon icon-solid icon-baseline icon-space-sm icon-outside icon-chevron-down"
                ></span>
                Total down
              </div>
              <div class="workout-info-value">
                {{ printf "%.2f" .workout.Data.TotalDown }} m
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
