<!doctype html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body class="bg-gray-300 dark:bg-neutral-900 dark:text-zinc-100 px-20">
    {{template "header" .}}

    <div class="content">
      {{ if .notice }}
      <div class="notice" role="alert">
        <span class="block sm:inline"> {{ .notice | html }} </span>
      </div>
      {{ end }} {{ if .error }}
      <div class="alert" role="alert">
        <span class="block sm:inline"> {{ .error | html }} </span>
      </div>
      {{ end }}

      <div class="inner-form">
        <h2
          class="icon-solid icon-baseline icon-space-sm icon-before icon-circle-plus"
        >
          Add a workout
        </h2>
        <form
          method="post"
          action="/workouts/add"
          enctype="multipart/form-data"
        >
          <div class="form-row">
            <label for="file">File</label>
            <div>
              <input type="file" id="file" name="file" accept=".gpx" multiple />
            </div>
          </div>
          <div class="form-row">
            <label for="type">Type</label>
            <div>
              <input type="type" id="type" name="type" size="20" />
            </div>
          </div>
          <div class="form-row">
            <label for="notes">Notes</label>
            <div>
              <textarea
                type="text"
                id="notes"
                name="notes"
                size="20"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <div></div>
            <button type="submit" size="20">Add workout</button>
          </div>
        </form>
      </div>
    </div>

    {{template "footer" .}}
  </body>
</html>
