<!doctype html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body class="bg-gray-300 dark:bg-neutral-900 dark:text-zinc-100 px-20">
    {{template "header" .}}

    <div class="content">
      {{ if .notice }}
      <div class="notice" role="alert">
        <span class="block sm:inline"> {{ .notice | html }} </span>
      </div>
      {{ end }} {{ if .error }}
      <div class="alert" role="alert">
        <span class="block sm:inline"> {{ .error | html }} </span>
      </div>
      {{ end }}
      <h2
        class="icon-solid icon-baseline icon-space-sm icon-before icon-chart-simple"
      >
        Statistics
      </h2>
    </div>

    {{template "footer" .}}
  </body>
</html>
