<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/leaflet.js"></script>
    <script src="{{ RouteFor `assets` }}/dist/simpleheat.js"></script>
    <script src="{{ RouteFor `assets` }}/dist/leaflet-heat.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/leaflet.css" rel="stylesheet" />
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2>{{ IconFor `heatmap` }} {{ i18n "Heatmap" }}</h2>

      <script>
        var data = [
          {{- range .workouts }}
          {{- if .HasTracks }}
          {{ range .Data.Details.Points -}}
          [{{ .Lat }}, {{ .Lng }}],
          {{- end }}
          {{- end -}}
          {{ end }}
        ];
      </script>

      <div id="map-container" class="small-size pagebreak">
        <div
          id="map"
          class="border-2 border-black rounded-xl h-[300px] sm:h-[600px] md:h-[800px] print:w-full print:h-[800px]"
        >
          <script>
            var map = L.map("map", {
              fadeAnimation: false,
            });

            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
              attribution:
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);
            var bounds = new L.LatLngBounds(data);

            var heatConfig = { radius: 10 };
            var heat = L.heatLayer(data, heatConfig).addTo(map);

            map.fitBounds(bounds);
          </script>
        </div>
      </div>
    </div>
    {{ template "footer" . }}
  </body>
</html>
