package user

import (
	"github.com/jovandeginste/workout-tracker/v2/pkg/database"
	"github.com/jovandeginste/workout-tracker/v2/views/helpers"
)

templ ProfileCalendar(workouts []*database.Workout) {
	<profile-calendar class="inner-form min-h-[450px]" api-workouts-calendar-route={ helpers.RouteFor(ctx, "api-workouts-calendar") }></profile-calendar>
	<script src={ helpers.RouteFor(ctx, "assets") + "/views/user/profile_calendar.js" }></script>
}
