<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2 class="{{ IconFor `user-profile` }}">Your profile</h2>
      <div class="inner-form">
        <form method="post" action="{{ RouteFor `user-refresh` }}">
          <label for="refresh">Refresh all your workouts</label>
          <button type="submit">
            <a class="{{ IconFor `refresh` }}"></a>
          </button>
        </form>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
