<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2>
        {{ IconFor `dashboard` }} {{ i18n "Dashboard for %s" .user.Name }}
      </h2>

      {{ template "stats_records_total" .user }}

      <div class="lg:flex lg:flex-wrap [&>*]:basis-1/2">
        <div>
          {{ range .user.GetAllRecords }} {{ if and .WorkoutType.IsDistance
          .Active }}
          <div class="inner-form">
            {{ template "stats_records_distance" . }}
          </div>
          {{ end }} {{ end }}
        </div>
        <div>{{ template "user_profile_calendar" . }}</div>
      </div>
      {{ if .users }}
      <div class="inner-form">
        <h3>{{ IconFor `users` }}{{ i18n "Other users" }}</h3>

        <div class="sm:flex sm:flex-wrap gap-5">
          {{ range .users }} {{ if ne .ID $.user.ID }}
          <a href="{{ RouteFor `user-show` .ID }}"
            ><span class="user-pill"> {{ .Name }} </span></a
          >
          {{ end }} {{ end }}
        </div>
      </div>
      <div class="inner-form recent-activity">
        <h3>{{ IconFor `workout` }}{{ i18n "Recent activity" }}</h3>
        <div class="sm:flex sm:flex-wrap justify-center">
          {{ range .recentWorkouts }}{{ template "workout_item" . }}{{ end }}
        </div>
      </div>
    </div>
    {{ end }} {{ template "footer" . }}
  </body>
</html>
