<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <div class="sm:flex sm:flex-wrap [&>*]:basis-1/2">
        <div>
          <div class="inner-form">
            <h2
              class="icon-solid icon-baseline icon-space-sm icon-before icon-chevron-right"
            >
              {{ i18n "Welcome!" }}
            </h2>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `user-signin` }}{{ i18n "Sign in" }}</h3>
            <form
              id="signin"
              method="post"
              action="{{ RouteFor `user-signin` }}"
            >
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label for="username"
                        >{{ i18n "Username (email)" }}</label
                      >
                    </td>
                    <td>
                      <input type="text" id="username" name="username" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="password">{{ i18n "Password" }}</label>
                    </td>
                    <td>
                      <input type="password" id="password" name="password" />
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button id="signin" type="submit">
                        {{ i18n "Sign in" }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>

          {{ if not AppConfig.RegistrationDisabled }}
          <div class="inner-form">
            <h3>
              {{ IconFor `user-register` }} {{ i18n "Create a new account" }}
            </h3>
            <form
              id="register"
              method="post"
              action="{{ RouteFor `user-register` }}"
            >
              <table>
                <tbody>
                  <tr>
                    <td>
                      <label for="username"
                        >{{ i18n "Username (email)" }}</label
                      >
                    </td>
                    <td>
                      <input type="text" id="username" name="username" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="name">{{ i18n "Name" }}</label>
                    </td>
                    <td>
                      <input type="text" id="name" name="name" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="password">{{ i18n "Password" }}</label>
                    </td>
                    <td>
                      <input type="password" id="password" name="password" />
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button id="register" type="submit">
                        {{ i18n "Register" }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
