<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/apexcharts.min.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/apexcharts.css" rel="stylesheet" />
  </head>
  <body>
    {{ template "header" . }} {{ $since := .since }} {{ $per := .per }}
    <div class="content">
      <form class="inner-form">
        <label for="since">{{ i18n "Since" }}</label>
        <select id="since" name="since">
          {{ range statisticSinceOptions }}
          <option value="{{ . }}" {{ SelectIf . $since }}>{{ i18n . }}</option>
          {{ end }}
        </select>
        <label for="per">{{ i18n "Per" }}</label
        ><select id="per" name="per">
          {{ range statisticPerOptions }}
          <option value="{{ . }}" {{ SelectIf . $per }}>{{ i18n . }}</option>
          {{ end }}
        </select>
        <button type="submit" value="Submit">{{ i18n "refresh"}}</button>
      </form>
      <h2>
        {{ IconFor `statistics` }}
        <!-- prettier-ignore -->
        {{ i18n "Your progress per %s for the past %s" (i18n $per) (i18n $since) }}
      </h2>
      {{ $stats := CurrentUser.GetStatisticsFor $since $per }}

      <div class="lg:flex lg:flex-wrap [&>*]:lg:basis-1/2 [&>*]:2xl:basis-1/3">
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `workout` }}{{ i18n "Workouts" }}</h3>
            <div id="workouts-per-month"></div>
          </div>
        </div>

        <div>
          <div class="inner-form">
            <h3>{{ IconFor `duration` }}{{ i18n "Duration" }}</h3>
            <div id="duration-per-month"></div>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `distance` }}{{ i18n "Distance" }}</h3>
            <div id="distance-per-month"></div>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `speed` }}{{ i18n "Average speed" }}</h3>
            <div id="average-speed-per-month"></div>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `speed` }} {{ i18n "Average speed (no pause)" }}</h3>
            <div id="average-speed-no-pause-per-month"></div>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3>{{ IconFor `max-speed` }}{{ i18n "Max speed" }}</h3>
            <div id="max-speed-per-month"></div>
          </div>
        </div>
      </div>
    </div>
    {{ template "footer" . }}

    <script>
      var theme = 'light';
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = 'dark';
      }

      var options = {
        theme: { mode: theme },
        chart: {
          width: "99%",
          animations: { enabled: false },
          toolbar: { show: false },
          type: "bar",
        },
        dataLabels: { enabled: false },
        legend: { position: 'top' },
        tooltip: {
          x: { format: 'MMM \'yy', },
        },
        xaxis: { type: "datetime", },
      }

      new ApexCharts(document.querySelector("#workouts-per-month"), {
        ...options,
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .Workouts }} },
                {{ end -}}
              ],
          },
          {{ end }}
        ],
      }).render();

      new ApexCharts(document.querySelector("#duration-per-month"), {
        ...options,
        tooltip: {
          x: { format: 'MMM \'yy', },
          y: [
            { formatter: function (val, opts) { return formatDuration(val); } },
          ],
        },
        yaxis: [
          { labels: { formatter: (val) => { return formatDuration(val); } } },
        ],
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {{ if $type.IsDistance }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .Duration | NumericDuration }} },
                {{ end -}}
              ],
          },
          {{ end }}
          {{ end }}
        ],
      }).render();

      new ApexCharts(document.querySelector("#distance-per-month"), {
        ...options,
        tooltip: {
          x: { format: 'MMM \'yy', },
          y: [
            { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Distance }}"; } },
          ],
        },
        yaxis: [
          { labels: { formatter: (val) => { return val + " {{ CurrentUser.PreferredUnits.Distance }}"; } } },
        ],
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {{ if $type.IsDistance }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .Distance | HumanDistance }} },
                {{ end -}}
              ],
          },
          {{ end }}
          {{ end }}
        ],
      }).render();

      new ApexCharts(document.querySelector("#average-speed-per-month"), {
        ...options,
        tooltip: {
          x: { format: 'MMM \'yy', },
          y: [
            { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } },
          ],
        },
        yaxis: [
          { labels: { formatter: (val) => { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } } },
        ],
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {{ if $type.IsDistance }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .AverageSpeed | HumanSpeed }} },
                {{ end -}}
              ],
          },
          {{ end }}
          {{ end }}
        ],
      }).render();

      new ApexCharts(document.querySelector("#average-speed-no-pause-per-month"), {
        ...options,
        tooltip: {
          x: { format: 'MMM \'yy', },
          y: [
            { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } },
          ],
        },
        yaxis: [
          { labels: { formatter: (val) => { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } } },
        ],
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {{ if $type.IsDistance }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .AverageSpeedNoPause | HumanSpeed }} },
                {{ end -}}
              ],
          },
          {{ end }}
          {{ end }}
        ],
      }).render();

      new ApexCharts(document.querySelector("#max-speed-per-month"), {
        ...options,
        tooltip: {
          x: { format: 'MMM \'yy', },
          y: [
            { formatter: function (val, opts) { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } },
          ],
        },
        yaxis: [
          { labels: { formatter: (val) => { return val + " {{ CurrentUser.PreferredUnits.Speed }}"; } } },
        ],
        series: [
          {{ range $type, $PerMonth := $stats.Buckets }}
          {{ if and $type.IsDistance }}
          {
            name: "{{ i18n $type.String }}",
              data: [
                {{- range $PerMonth -}}
                { x: "{{ .Bucket }}", y: {{ .MaxSpeed | HumanSpeed }} },
                {{ end -}}
              ],
          },
          {{ end }}
          {{ end }}
        ],
      }).render();
    </script>
  </body>
</html>
