<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/chart.js"></script>
    <script src="{{ RouteFor `assets` }}/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2 class="{{ IconFor `statistics` }}">
        {{ i18n "Your progress the past year" }}
      </h2>
      {{ $stats := CurrentUser.GetDefaultStatistics }}

      <div class="lg:flex lg:flex-wrap [&>*]:lg:basis-1/2 [&>*]:2xl:basis-1/3">
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `workout` }}">{{ i18n "Workouts" }}</h3>
            <canvas id="workouts-per-month"></canvas>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `duration` }}">{{ i18n "Duration" }}</h3>
            <canvas id="duration-per-month"></canvas>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `distance` }}">{{ i18n "Distance" }}</h3>
            <canvas id="distance-per-month"></canvas>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `speed` }}">{{ i18n "Average speed" }}</h3>
            <canvas id="average-speed-per-month"></canvas>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `speed` }}">
              {{ i18n "Average speed (no pause)" }}
            </h3>
            <canvas id="average-speed-no-pause-per-month"></canvas>
          </div>
        </div>
        <div>
          <div class="inner-form">
            <h3 class="{{ IconFor `max-speed` }}">{{ i18n "Max speed" }}</h3>
            <canvas id="max-speed-per-month"></canvas>
          </div>
        </div>
      </div>
    </div>
    {{ template "footer" . }}

    <script>
      xAxisScale = {
        type: "time",
        time: {
          unit: "month",
          tooltipFormat: "MMM yyyy",
        },
      };

      speedChartOptions = {
        scales: {
          x: xAxisScale,
          y: {
            ticks: {
              callback: function (value) {
                return (
                  value.toLocaleString(undefined, {
                    maximumFractionDigits: 2,
                  }) + " {{ CurrentUser.PreferredUnits.Speed }}"
                );
              },
            },
          },
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function (context) {
                let label = context.dataset.label || "";

                if (label) {
                  label += ": ";
                }
                if (context.parsed.y !== null) {
                  label +=
                    context.parsed.y.toLocaleString(undefined, {
                      maximumFractionDigits: 2,
                    }) + " {{ CurrentUser.PreferredUnits.Speed }}";
                }
                return label;
              },
            },
          },
        },
      };

      distanceChartOptions = {
        scales: {
          x: xAxisScale,
          y: {
            ticks: {
              callback: function (value) {
                return (
                  value.toLocaleString(undefined, {
                    maximumFractionDigits: 2,
                  }) + " {{ CurrentUser.PreferredUnits.Distance }}"
                );
              },
            },
          },
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function (context) {
                let label = context.dataset.label || "";

                if (label) {
                  label += ": ";
                }
                if (context.parsed.y !== null) {
                  label +=
                    context.parsed.y.toLocaleString(undefined, {
                      maximumFractionDigits: 2,
                    }) + " {{ CurrentUser.PreferredUnits.Distance }}";
                }
                return label;
              },
            },
          },
        },
      };
      durationChartOptions = {
        scales: {
          x: xAxisScale,
          y: {
            ticks: {
              callback: function (value) {
                return formatDuration(value);
              },
            },
          },
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function (context) {
                let label = context.dataset.label || "";

                if (label) {
                  label += ": ";
                }
                if (context.parsed.y !== null) {
                  label += formatDuration(context.parsed.y);
                }
                return label;
              },
            },
          },
        },
      };
    </script>

    <script>
      new Chart(document.getElementById("workouts-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .Workouts }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: { scales: {
          x: xAxisScale,
        } },
      });

      new Chart(document.getElementById("duration-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .Duration | NumericDuration }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: durationChartOptions,
      });

      new Chart(document.getElementById("distance-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .Distance | HumanDistance }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: distanceChartOptions,
      });

      new Chart(document.getElementById("average-speed-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .AverageSpeed | HumanSpeed }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: speedChartOptions,
      });

      new Chart(document.getElementById("average-speed-no-pause-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .AverageSpeedNoPause | HumanSpeed }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: speedChartOptions,
      });

      new Chart(document.getElementById("max-speed-per-month"), {
        type: "bar",
        data: {
          datasets: [
            {{ range $type, $PerMonth := $stats.Buckets }}
              {{ if $type.IsDistance }}
              {
                label: "{{ i18n $type.String }}",
                data: [
                  {{- range $PerMonth -}}
                  { x: "{{ .Bucket }}", y: {{ .MaxSpeed | HumanSpeed }} },
                  {{ end -}}
                ],
              },
              {{ end }}
            {{ end }}
          ],
        },
        options: speedChartOptions,
      });
    </script>
  </body>
</html>
