<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2 class="{{ IconFor `user-profile` }}">{{ i18n "Your profile" }}</h2>
      <div class="inner-form">
        <form method="post" action="{{ RouteFor `user-profile-update` }}">
          <table class="table-fixed">
            <tbody>
              <tr>
                <th>
                  <label for="totals_show"
                    >{{ i18n "Totals to show on dashboard" }}</label
                  >
                </th>
                <td>
                  {{ template "user_profile_totals_show" .userProfileTotalsShow
                  }}
                </td>
              </tr>
              <tr>
                <th>
                  <label for="language">{{ i18n "Language" }}</label>
                </th>
                <td>
                  {{ template "user_profile_language" .userProfileLanguage }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button type="submit">{{ i18n "Update profile" }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <form method="post" action="{{ RouteFor `user-refresh` }}">
          <label for="refresh">{{ i18n "Refresh all your workouts" }}</label>
          <button type="submit">
            <a class="{{ IconFor `refresh` }}"></a>
          </button>
        </form>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
