<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2 class="{{ IconFor `dashboard` }}">
        {{ i18n "Dashboard for %s" .user.Name }}
      </h2>

      {{ template "stats_records_total" (index .UserStatistics "running").Total
      }}

      <div class="lg:flex lg:flex-wrap [&>*]:basis-1/2">
        <div>
          {{ range $type, $stats := .UserStatistics }} {{ if
          $stats.WorkoutType.IsDistance }}
          <div class="inner-form">
            {{ template "stats_records_distance" $stats.Records }}
          </div>
          {{ end }} {{ end }}
        </div>
        <div>
          <div class="inner-form min-h-[450px]" id="calendar"></div>
          <script src="{{ RouteFor `assets` }}/dist/fullcalendar.min.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              var calendarEl = document.getElementById("calendar");
              var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone,
                initialView: "dayGridMonth",
                locale: Intl.DateTimeFormat().resolvedOptions().locale,
                firstDay: 1,
                aspectRatio: 2,
                eventContent: function(arg) {
                  let eventSpan = document.createElement('div')

                  eventSpan.innerHTML = arg.event.title
                  eventSpan.classList.add(
                    "px-2", "overflow-hidden", ...arg.event.extendedProps.iconClass.split(" "),
                  )

                  return { domNodes: [ eventSpan ] }
                },
                events: [
                  {{ range .workouts }}
                  {
                    title: "{{ .Type.String }}",
                    start: "{{ .Date | LocalDate }}",
                    url: "/workouts/{{ .ID }}",
                    display: 'block',
                    extendedProps: {
                      iconClass: "{{ IconFor .Type.String }}",
                    },
                  },
                  {{ end }}
                ],
              });
              calendar.render();
            });
          </script>
        </div>
      </div>
      {{ if .users }}
      <div class="inner-form">
        <h3 class="{{ IconFor `users` }}">{{ i18n "Other users" }}</h3>

        <div class="sm:flex sm:flex-wrap gap-5">
          {{ range .users }} {{ if ne .ID $.user.ID }}
          <span
            class="inline-block rounded-full my-3 m-2 min-w-[150px] py-2 px-5 bg-neutral-700 hover:bg-neutral-600 border border-neutral-500 text-center"
          >
            <a href="{{ RouteFor `user-show` .ID }}">{{ .Name }}</a>
          </span>
          {{ end }} {{ end }}
        </div>
      </div>
      <div class="inner-form">
        <h3 class="{{ IconFor `workout` }}">{{ i18n "Recent activity" }}</h3>
        <div class="sm:flex sm:flex-wrap justify-center">
          {{ range .recentWorkouts }}{{ template "workout_item" . }}{{ end }}
        </div>
      </div>
    </div>
    {{ end }} {{ template "footer" . }}
  </body>
</html>
