<!doctype html>
<html>
  <head>
    {{ template "head" }}
    <script src="{{ RouteFor `assets` }}/dist/leaflet.js"></script>
    <link href="{{ RouteFor `assets` }}/dist/leaflet.css" rel="stylesheet" />
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      {{ with .routeSegment }}
      <div class="gap-4">
        <span class="float-right actions">
          {{ if .Dirty }}
          <span class="dirty">
            {{ IconFor `refresh` }} {{ i18n "refresh in progress" }}
          </span>
          {{ end }} {{ template "route_segment_actions" . }}
        </span>

        <h2>{{ IconFor `route-segment` }}{{ .Name }}</h2>
      </div>
      <div class="lg:flex lg:flex-wrap print:block">
        <div class="basis-1/2 2xl:basis-1/3 pagebreak">
          <div class="inner-form">{{ template "route_segment_map" . }}</div>
        </div>
        <div class="basis-1/2 2xl:basis-1/3">
          <div class="inner-form">{{ template "route_segment_details" . }}</div>
        </div>
        <div class="basis-1/2 2xl:basis-1/3">
          <div class="inner-form">
            <table>
              <thead>
                <tr>
                  <th>{{ i18n "User" }}</th>
                  <th>{{ i18n "Workout" }}</th>
                  <th>{{ i18n "Distance" }}</th>
                  <th>{{ i18n "Duration" }}</th>
                  <th>{{ i18n "Tempo" }}</th>
                </tr>
              </thead>
              <tbody>
                {{ range .RouteSegmentMatches }}
                <tr>
                  <td>
                    <a href="{{ RouteFor `user-show` .Workout.UserID }}"
                      >{{ .Workout.User.Name }}</a
                    >
                  </td>
                  <td>
                    <a href="{{ RouteFor `workout-show` .WorkoutID }}"
                      >{{ .Workout.Name }}</a
                    >
                  </td>
                  <td class="whitespace-nowrap font-mono">
                    {{ .Distance | HumanDistance }} {{
                    CurrentUser.PreferredUnits.Distance }}
                  </td>
                  <td class="whitespace-nowrap font-mono">
                    {{ .Duration | HumanDuration }}
                  </td>
                  <td class="whitespace-nowrap font-mono">
                    {{ .AverageSpeed | HumanTempo }} {{
                    CurrentUser.PreferredUnits.Tempo }}
                  </td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagebreak">
        {{ if .Notes }}
        <div class="inner-form">
          <h3>{{ IconFor `note` }}{{ i18n "Notes" }}</h3>
          <div>{{ .MarkdownNotes }}</div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
