{{ define "language" }}
<select class="border-0" onchange="changeLanguage(this.value)">
  {{ range supportedLanguages }} {{ $linf := .String | ToLanguageInformation }}
  <option
    value="{{ $linf.Code }}"
    {{
    if
    eq
    $linf.Code
    language
    }}selected{{
    end
    }}
  >
    {{ $linf.Flag }} {{ $linf.LocalName }} {{ if ne $linf.EnglishName "" }} {{
    if ne $linf.EnglishName $linf.LocalName }} ({{ $linf.EnglishName }}) {{ end
    }}{{ end }}
  </option>

  {{ end }}
</select>
<script>
  function changeLanguage(value) {
    location.assign("?lang=" + value);
  }
</script>
{{ end }}
