<pre>

Errors and notifications:

{{ i18n "Profile updated" }}
{{ i18n "Encountered %d problems while adding workouts: %s" (len .Errors) .Errors }}
{{ i18n "Your account has been created, but needs to be activated." }}
{{ i18n "All workouts will be refreshed in the coming minutes." }}
{{ i18n "The workout '%s' has been deleted." .Name }}
{{ i18n "The workout '%s' has been refreshed." .Name }}
{{ i18n "The workout '%s' has been updated." .Name }}
{{ i18n "The user '%s' has been updated." .Name }}
{{ i18n "The user '%s' has been deleted." .Name }}
{{ i18n "Added %d new workout(s): %s" (len .msg) .msg }}
{{ i18n "API key updated" }}
{{ i18n "workouts" }}

All workout types:

{{ i18n "running" }}
{{ i18n "cycling" }}
{{ i18n "e-cycling" }}
{{ i18n "sailboat" }}
{{ i18n "skiing" }}
{{ i18n "snowboarding" }}
{{ i18n "golfing" }}
{{ i18n "swimming" }}
{{ i18n "walking" }}
{{ i18n "hiking" }}

{{ i18n "push-ups" }}
{{ i18n "weight lifting" }}

{{ i18n "day" }}
{{ i18n "7 days" }}
{{ i18n "month" }}
{{ i18n "6 months" }}
{{ i18n "1 year" }}
{{ i18n "2 years" }}
{{ i18n "5 years" }}
{{ i18n "10 years" }}
</pre>
