{{ define "workout_details" }}
<table>
  <tbody>
    {{ if .HasFile }}
    <tr>
      <td>{{ IconFor `file` }}</td>
      <th>{{ i18n "File" }}</th>
      <td>
        {{ if gt (.Filename | len) 15 }}
        <abbr title="{{ .Filename }}"> {{ printf "%.15s" .Filename }}...</abbr>
        {{ else }} {{ .Filename }} {{ end }}
      </td>
    </tr>
    {{ end }}
    <tr>
      <td>{{ IconFor `date` }}</td>
      <th>{{ i18n "Date" }}</th>
      <td>{{ template "snippet_date" .Date }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `location` }}</td>
      <th>{{ i18n "Location" }}</th>
      <td>{{ .Address }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `source` }}</td>
      <th>{{ i18n "Source" }}</th>
      <td>{{ .Data.Creator }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `workout` }}</td>
      <th>{{ i18n "Type" }}</th>
      <td>
        <span>{{ IconFor .Type.String }}{{ i18n .Type.String }}</span>
      </td>
    </tr>
    {{ if .Type.IsRepetition }}
    <tr>
      <td>{{ IconFor `repetitions` }}</td>
      <th>{{ i18n "Repetitions" }}</th>
      <td class="whitespace-nowrap font-mono">{{ .Data.TotalRepetitions }}</td>
    </tr>
    <tr>
      <td>{{ IconFor `tempo` }}</td>
      <th>{{ i18n "Average per minute" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .RepetitionFrequencyPerMinute }}
      </td>
    </tr>
    {{ end }}{{ if .Type.IsWeight }}
    <tr>
      <td>{{ IconFor `weight` }}</td>
      <th>{{ i18n "Weight" }}</th>
      <td class="whitespace-nowrap font-mono">{{ .Data.TotalWeight }}</td>
    </tr>
    {{ end }} {{ if .Type.IsDuration }}
    <tr>
      <td>{{ IconFor `duration` }}</td>
      <th>{{ i18n "Total duration" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.TotalDuration | HumanDuration }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `pause` }}</td>
      <th>{{ i18n "Time paused" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.PauseDuration | HumanDuration }}
      </td>
    </tr>
    {{ end }} {{ if .Type.IsDistance }}
    <tr>
      <td>{{ IconFor `distance` }}</td>
      <th>{{ i18n "Total distance" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.TotalDistance | HumanDistance }} {{
        CurrentUser.PreferredUnits.Distance }}
      </td>
    </tr>
    {{ end }} {{ if and .Type.IsDistance .Type.IsDuration }}
    <tr>
      <td>{{ IconFor `speed` }}</td>
      <th>{{ i18n "Average speed" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.AverageSpeed | HumanSpeed }} {{
        CurrentUser.PreferredUnits.Speed }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `speed` }}</td>
      <th>{{ i18n "Average speed (no pause)" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.AverageSpeedNoPause | HumanSpeed }} {{
        CurrentUser.PreferredUnits.Speed }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `tempo` }}</td>
      <th>{{ i18n "Average tempo" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.AverageSpeed | HumanTempo }} {{
        CurrentUser.PreferredUnits.Tempo }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `tempo` }}</td>
      <th>{{ i18n "Average tempo (no pause)" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.AverageSpeedNoPause | HumanTempo }} {{
        CurrentUser.PreferredUnits.Tempo }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `max-speed` }}</td>
      <th>{{ i18n "Max speed" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.MaxSpeed | HumanSpeed }} {{ CurrentUser.PreferredUnits.Speed }}
      </td>
    </tr>
    {{ end }} {{ if .Type.IsLocation }}
    <tr>
      <td>{{ IconFor `elevation` }}</td>
      <th>{{ i18n "Min elevation" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.MinElevation | HumanElevation }} {{
        CurrentUser.PreferredUnits.Elevation }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `elevation` }}</td>
      <th>{{ i18n "Max elevation" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.MaxElevation | HumanElevation }} {{
        CurrentUser.PreferredUnits.Elevation }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `up` }}</td>
      <th>{{ i18n "Total up" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.TotalUp | HumanElevation }} {{
        CurrentUser.PreferredUnits.Elevation }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `down` }}</td>
      <th>{{ i18n "Total down" }}</th>
      <td class="whitespace-nowrap font-mono">
        {{ .Data.TotalDown | HumanElevation }} {{
        CurrentUser.PreferredUnits.Elevation }}
      </td>
    </tr>
    {{ end }} {{ if .HasCalories }}
    <tr>
      <td>{{ IconFor `calories` }}</td>
      <th>
        {{ i18n "Est. calories burned" }}
        <a
          href="#"
          title="{{ i18n `Estimated based on the activity, assuming 70 kg` }}"
        >
          {{ IconFor `info` }}
        </a>
      </th>
      <td class="whitespace-nowrap font-mono">
        {{ .CaloriesBurned | HumanCalories }}
      </td>
    </tr>
    {{ end }}
    <tr>
      <td>{{ IconFor `equipment` }}</td>
      <td>{{ i18n "Equipment" }}</td>
      <td>
        {{ if .Equipment }} {{ range .Equipment }}
        <a href="{{ RouteFor `equipment-show` .ID }}">{{ .Name }}</a>
        {{ end }} {{ else }} <i>{{ i18n "no equipment" }}</i> {{ end }}
      </td>
    </tr>
    <tr>
      <td>{{ IconFor `metrics` }}</td>
      <td>{{ i18n "Extra metrics" }}</td>
      <td class="flex flex-wrap gap-1">
        {{ if .HasHeartRate }}
        <div title="{{ i18n `Heart rate` }}">{{ IconFor `heart-rate` }}</div>
        {{ end }}{{ if .HasCadence }}
        <div title="{{ i18n `Cadence` }}">{{ IconFor `cadence` }}</div>
        {{ end }}{{ if .HasHeading }}
        <div title="{{ i18n `Heading` }}">{{ IconFor `heading` }}</div>
        {{ end }}
      </td>
    </tr>
  </tbody>
</table>
{{end}}
