{{ define "workout_actions" }} {{ if .HasFile }}
<form action="{{ RouteFor `workout-download` .ID }}" method="get">
  <button class="download" title="{{ i18n `download` }}">
    <a>{{ IconFor `download` }}</a>
  </button>
</form>
{{ end }}
<form action="{{ RouteFor `workout-edit` .ID }}" method="get">
  <button class="edit" title="{{ i18n `edit` }}">
    <a>{{ IconFor `edit` }}</a>
  </button>
</form>
{{ if .PublicUUID }}
<form
  onsubmit="copyToClipboard('public_uuid'); showMessage('notice', '{{ i18n `Publicly shareable link was copied to clipboard` }}'); return false;"
>
  <input
    type="text"
    name="public_uuid"
    id="public_uuid"
    class="hidden"
    value="..."
  />
  <script>
    var uuidText = document.getElementById("public_uuid");
    uuidText.value = new URL(
      "{{ RouteFor `share` .PublicUUID }}",
      document.location,
    ).href;
  </script>

  <button class="share" title="{{ i18n `Copy publicly shareable link` }}">
    <a>{{ IconFor `share` }}</a>
  </button>
</form>
{{ end }}
<form action="{{ RouteFor `workout-share` .ID }}" method="post">
  <button
    class="share dangerous"
    title="{{ i18n `(Re)generate publicly shareable link` }}"
  >
    <a>{{ IconFor `generate-share` }}</a>
  </button>
</form>
{{ if .HasFile }}
<form action="{{ RouteFor `workout-refresh` .ID }}" method="post">
  <button title="{{ i18n `refresh` }}">
    <a>{{ IconFor `refresh` }}</a>
  </button>
</form>
<form action="{{ RouteFor `workout-route-segment` .ID }}" method="get">
  <button title="{{ i18n `create route segment` }}">
    <a>{{ IconFor `route-segment` }}</a>
  </button>
</form>
{{ end }}
<form onsubmit="return false">
  <button
    onclick="openModal('modalConfirmDelete_{{ .ID }}')"
    class="dangerous"
    title="{{ i18n `delete` }}"
  >
    <a>{{ IconFor `delete` }}</a>
  </button>
</form>

<div id="modalConfirmDelete_{{ .ID }}" class="modal">
  <div class="window">
    <div class="flex justify-end p-2">
      <button
        onclick="closeModal('modalConfirmDelete_{{ .ID }}')"
        type="button"
        class="close-modal"
      >
        <a>{{ IconFor `close` }}</a>
      </button>
    </div>

    <div class="modal-content">
      {{ $w := i18n "workout" }}
      <h3>{{ i18n "Are you sure you want to delete this %s?" $w }}</h3>
      <div class="flex">
        <form method="post" action="{{ RouteFor `workout-delete` .ID }}">
          <button class="confirm">{{ i18n "Continue" }}</button>
        </form>
        <form onsubmit="return false">
          <button
            onclick="closeModal('modalConfirmDelete_{{ .ID }}')"
            class="cancel"
          >
            {{ i18n "Cancel" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
