{{ define "workout_item" }}
<div class="sm:w-[300px] p-1">
  <div class="workout-item">
    <div class="flex flex-wrap gap-2">
      <div class="grow">
        <a
          class="{{ IconFor .Type.String }}"
          href="{{ RouteFor `workout-show` .ID }}"
        >
          {{ if gt (.Name | len) 20 }}
          <abbr title="{{ .Name }}"> {{ printf "%.20s" .Name }}...</abbr>
          {{ else }} {{ .Name }} {{ end }}
        </a>
      </div>
      <div class="text-right text-sm">
        <a
          class="{{ IconFor `user` }}"
          href="{{ RouteFor `user-show` .User.ID }}"
        >
          {{ .User.Name }}</a
        >
      </div>
    </div>
    <div class="meta h-6 text-sm mb-2">
      <abbr class="overflow-hidden" title="{{ .Date | LocalDate }}">
        {{ .Date | RelativeDate }}
      </abbr>
    </div>
    <span class="text-xs"> {{ template "workouts_list_details" . }} </span>
  </div>
</div>
{{ end }}
