services:
  workout-tracker-assets:
    extends:
      file: ./docker-compose.dev.yaml
      service: workout-tracker-assets

  workout-tracker:
    extends:
      file: ./docker-compose.dev.yaml
      service: workout-tracker
    volumes:
      - ../data/:/data/
    env_file: ./sqlite.env

volumes:
  asset-volume:
  cache-volume:

networks:
  workout-tracker:
    external: false
