services:
  workout-tracker-assets:
    extends:
      file: ./docker-compose.dev.yaml
      service: workout-tracker-assets

  workout-tracker:
    extends:
      file: ./docker-compose.dev.yaml
      service: workout-tracker
    env_file: ./postgres.env
    depends_on:
      db:
        condition: service_healthy

  db:
    extends:
      file: ./docker-compose.base.yaml
      service: db
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  asset-volume:
  cache-volume:
  db-data:

networks:
  workout-tracker:
    external: false
