<!doctype html>
<html>
  <head>
    {{ template "head" }}
  </head>
  <body>
    {{ template "header" . }}
    <div class="content">
      <h2>{{ IconFor `admin` }} {{ i18n "Manage user '%s'" .user.Name }}</h2>
      {{ with .user }}
      <form
        action="{{ RouteFor `admin-user-update` .ID }}"
        method="post"
        class="inner-form"
      >
        <table>
          <tbody>
            <tr>
              <td>
                <label for="username">{{ i18n "Username" }}</label>
              </td>
              <td>
                <input
                  id="username"
                  name="username"
                  size="40"
                  value="{{ .Username }}"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="name">{{ i18n "Name" }}</label>
              </td>
              <td>
                <input id="name" name="name" size="40" value="{{ .Name }}" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="name">{{ i18n "Password" }}</label>
              </td>
              <td>
                <input
                  type="password"
                  id="password"
                  name="password"
                  size="40"
                  placeholder="{{ i18n `Leave blank to keep current password` }}"
                  value=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="active">{{ i18n "Active" }}</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  id="active"
                  name="active"
                  size="40"
                  {{
                  .Active
                  |
                  BoolToCheckbox
                  }}
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="admin">{{ i18n "Admin" }}</label>
              </td>
              <td>
                <input
                  type="checkbox"
                  id="admin"
                  name="admin"
                  size="40"
                  {{
                  .Admin
                  |
                  BoolToCheckbox
                  }}
                />
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="submit" size="40">
                  {{ i18n "Update user" }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      {{ end }}
    </div>

    {{ template "footer" . }}
  </body>
</html>
