package route_segments

import (
	"time"

	"github.com/invopop/ctxi18n/i18n"
	"github.com/jovandeginste/workout-tracker/v2/pkg/database"
	"github.com/jovandeginste/workout-tracker/v2/views/helpers"
)

type trendDataPoint struct {
	Date  string `json:"date"`
	Speed string `json:"speed"`
	Type  string `json:"type"`
}

templ ShowStats(s *database.RouteSegment) {
	{{ currentUser := helpers.CurrentUser(ctx) }}
	{{
		var trendData []trendDataPoint
		speedUnit := currentUser.PreferredUnits().Speed(nil)
		for _, m := range s.RouteSegmentMatches {
			if m.Workout != nil && m.Workout.UserID == currentUser.ID {
				trendData = append(trendData, trendDataPoint{
					Date:  m.Workout.Date.Format(time.RFC3339),
					Speed: helpers.HumanSpeed(ctx, m.AverageSpeed()),
					Type:  m.Workout.Type.String(),
				})
			}
		}
	}}
	{{
		translations := map[string]string{
			"averageSpeed":    i18n.T(ctx, "translation.Average_speed"),
			"speedUnit":       speedUnit,
			"trend":           i18n.T(ctx, "translation.Trend"),
			"trendBreak":      i18n.T(ctx, "translation.Trend_break"),
			"trendPeriod":     i18n.T(ctx, "translation.Trend_period"),
			"trendBreakDetection": i18n.T(ctx, "translation.Trend_break_detection"),
			"resetZoom":       i18n.T(ctx, "translation.Reset_zoom"),
			"trendPeriodAll":  i18n.T(ctx, "translation.All_time"),
			"trendPeriod365":  i18n.T(ctx, "translation.Last_365_days"),
			"trendPeriod90":   i18n.T(ctx, "translation.Last_90_days"),
			"trendPeriod30":   i18n.T(ctx, "translation.Last_30_days"),
			"trendPeriodYear": i18n.T(ctx, "translation.This_calendar_year"),
		}
		for _, td := range trendData {
			if _, ok := translations[td.Type]; !ok {
				translations[td.Type] = i18n.T(ctx, "sports."+td.Type)
			}
		}
	}}
	<route-segment-stats
		data={ templ.JSONString(trendData) }
		translations={ templ.JSONString(translations) }
		color-mode={ currentUser.Profile.Theme }
		trend-period={ currentUser.Profile.RouteSegmentTrendPeriodOrDefault() }
		trend-period-update-route={ helpers.RouteFor(ctx, "user-profile-route-segment-trend-period-update") }
		trend-break-detection?={ currentUser.Profile.RouteSegmentTrendBreakDetection }
		trend-break-detection-update-route={ helpers.RouteFor(ctx, "user-profile-route-segment-trend-break-detection-update") }
		lang={ helpers.Language(ctx) }
	></route-segment-stats>
	<script src={ helpers.RouteFor(ctx, "assets") + "/views/route_segments/show_stats.js" } type="module"></script>
}
