name: Test the code

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: "1.25"

      - uses: actionsx/prettier@v3
        with:
          args: --check .

      - name: Verify templ files are formatted
        run: make verify-templates

      - name: Update templ files
        run: make build-templates

      - name: Ensure clean
        run: git diff --exit-code

      - name: Run Go tests
        run: go test -v ./...
